@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
<head>

        <link href="css/layout.css" rel="stylesheet" type="text/css" />
</head>
    <header class="d-flex justify-content-between align-items-center -3 py-2 bg-primary text-light">

        <div class="fw-bold p-2 ps-5 mouse-pointer" @onclick="IrAlInicio"><h1>Gestor de Servicios</h1></div>
        <div class="fw-bold p-2 pe-5"><img src="https://images.squarespace-cdn.com/content/v1/52eaead0e4b0fd67cc51a9d3/ddebd217-d40d-4530-b0ea-64bb7b84329c/BSP+Consulting.png" width="50" height="50"></div>
    </header>
    <nav class="p-3 shadow-lg">
        <div class="d-flex align-items-center ps-5">
        @if (navigationManager.Uri.Contains("/editar") || navigationManager.Uri.Contains("/Editar"))
        {
            <div class="d-flex justify-content-start align-items-center">
            <h3 class="text-primary">Informe de Servicios</h3>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-start align-items-center">
                <button class="search-icon text-light">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;" @onclick="() => EnviarTextoABuscar(inputValue)"></i>
                </button>
                <input type="text" width="100" placeholder="Buscar..." class="text-light search-input" @oninput="ActualizarValor" />

            </div>
        }

            <div class="ms-auto text-primary pe-5">
                <a href="#" class="me-2">Configuracion <i class="fa-solid fa-gear ps-2"></i></a>
                <a class="vertical-line p-2 border-primary"></a>
                <a href="#" class="me-2">Mis Informes <i class="fa-solid fa-newspaper ps-2"></i></a>
                <a class="vertical-line p-2 border-primary"></a>
            <a href="">@UsuarioActual <img class="ps-2" width="40" src="https://img.freepik.com/vector-premium/perfil-hombre-dibujos-animados_18591-58482.jpg" alt=""></a>
            </div>
        </div>
    </nav>
    <nav class="d-flex justify-content-end sections text-light pe-5">
        <div class="bg-success sections p-3">

        <a class="me-2 mouse-pointer" @onclick="() => ClickHandlerPefil(true)">Perfil <i class="mouse-pointer fa-regular fa-user ps-1"></i></a>
            <a class="vertical-line p-2 border-light"></a>
        <a class="me-2 mouse-pointer" @onclick="() => ClickHandlerTiempos(true)">Tiempos <i class="fa-regular fa-clock ps-1"></i></a>
            <a class="vertical-line p-2 border-light"></a>
        <a class="me-2 mouse-pointer" @onclick="() => ClickHandlerClientes(true)">Clientes <i class="fa-solid fa-user-group ps-1"></i></a>
            <a class="vertical-line p-2 border-light"></a>
        <a class="me-2 mouse-pointer" @onclick="() => ClickHandlerProyectos(true)">Proyectos <i class="fa-solid fa-briefcase ps-1"></i></a>
            <a class="vertical-line p-2 border-light"></a>
        <a class="mouse-pointer" @onclick="() => ClickHandlerActividades(true)">Actividades <i class="fa-solid fa-tv ps-1"></i></a>
        </div>
    </nav>

<ModalPerfil ActivarModal="@activarModalPerfil" OnClose="ClickHandlerPefil"></ModalPerfil>
<ModalTiempos ActivarModal="@activarModalTiempos" OnClose="ClickHandlerTiempos"></ModalTiempos>
<ModalClientes ActivarModal="@activarModalClientes" OnClose="ClickHandlerClientes"></ModalClientes>
<ModalProyectos ActivarModal="@activarModalProyectos" OnClose="ClickHandlerProyectos"></ModalProyectos>
<ModalActividades ActivarModal="@activarModalActividades" OnClose="ClickHandlerActividades"></ModalActividades>

