@inject NavigationManager navigationManager
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>

                    <div class="alert alert-warning" role="alert">
                        Lo siento no tienes permitido entrar a esta página
                    </div>
                    @{
                         navigationManager.NavigateTo($"");
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Página no encontrada</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <ModalError mensaje="Este link no existe"></ModalError>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>