@inject NavigationManager navigationManager
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>

                    <div class="alert alert-warning" role="alert">
                        Lo siento no tienes permitido entrar a esta página
                    </div>
                    @{
                         navigationManager.NavigateTo($"");
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Página no encontrada</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="w-100 h-100 d-flex text-danger justify-content-center align-items-center">
                    <h1 role="alert">Este link no existe</h1>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>