@inject IActividadesInterface ActividadesService
@inject IUsuariosInterface UsuariosService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject SweetAlertService Swal;
@inject IAlertasInterface AlertasService

@if (cargaInicial)
{
    @if (permisos.Any(p => p.permiso == "Actividades" && p.subpermisos.Contains("Agregar")))
    {

        <div class="el-layout">
            <Layout></Layout>
        </div>

        <EditForm Model="@activadNueva" OnValidSubmit="AgregarActividadNueva">
            <ObjectGraphDataAnnotationsValidator />
            
            <div class="div-vacio"></div>
            <div class=" d-flex row g-2 text-center width-content">
            <div class="d-flex row align-items-center mx-2 mt-4 container border-transparent max-height-activity overflow-y-auto overflow-x-hidden scrollbar-modal-activities">
                    <div class="col-md-4 border border-success rounded-5 m-1 ">
                        <div class="row d-flex justify-content-center mb-2 mt-2">
                            <label class="blue-dark-text label-text" for="c-codigoUsuario">Usuario:</label>
                            <select class="border border-success rounded-pill px-2 text-input " id="c-codigoUsuario" @bind="@activadNueva.codigo_usuario" @oninput="CambioCodigoUsuario" disabled="@(rol == "Admin" ? false : true)">
                                @if (listaUsuarios.Any())
                                {
                                    if (rol == "Admin")
                                    {
                                        <option value="">Seleccione el Usuario</option>
                                    }
                                    foreach (var usuario in listaUsuarios)
                                    {
                                        <option value="@usuario.codigo">@usuario.nombre</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="text-center">
                            <ValidationMessage For="@(() => activadNueva.codigo_usuario)" />
                        </div>
                    </div>
                    <div class="col-md-4 border border-success rounded-5 m-1 ">
                        <div class="row d-flex justify-content-center mb-2 mt-2">
                            <label class="blue-dark-text label-text" for="c-actividad">Nombre Actividad:</label>
                            <input class="border border-success rounded-pill px-2 text-input " type="text" id="c-actividad" @bind-value="activadNueva.Actividad" @oninput="CambioActividad" />
                        </div>
                        <div class="text-center">
                            <ValidationMessage For="@(() => activadNueva.Actividad)" />
                        </div>
                    </div>
                    <div class="col-md-4 border border-success rounded-5 m-1 ">
                        <div class="row d-flex justify-content-center mb-2">
                            <label class=" blue-dark-text label-text" for="c-CiReferencia">CI-Referencia:</label>
                            <input class="border border-success rounded-pill px-2 text-input " type="text" id="c-CiReferencia" @bind-value="activadNueva.CI_referencia" @oninput="CambioCIReferencia" />
                        </div>
                        <div class="text-center">
                            <ValidationMessage For="@(() => activadNueva.CI_referencia)" />
                        </div>
                    </div>
                    <div class="col-md-4 border border-success rounded-5 m-1 ">
                        <div class="row d-flex justify-content-center mb-2">
                            <label class="blue-dark-text label-text" for="c-horas">Horas:</label>
                            <input class="md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-horas" @bind-value="activadNueva.horas" @oninput="CambioHoras" />
                        </div>
                        <div class="text-center">
                            <ValidationMessage For="@(() => activadNueva.horas)" />
                        </div>
                    </div>

            </div>

            </div>
            <div class="footer-agregar-actividad text-13-medium">
                <button type="button" @onclick="DescartarCambios" class="rounded-pill border border-primary blue-dark-bg text-light button-footer mx-5" id="descartar-agregar-actividad">
                    Cancelar
                </button>
                <button type="submit" class="rounded-pill border border-success green-add-bg text-light button-footer mx-5" id="agregar-actividad">
                    Agregar
                </button>

            </div>
        </EditForm>

    <ScriptMaxHeight Contenido=".max-height-activity" Elemento1=".el-layout" Elemento2=".footer-agregar-actividad" Elemento3=".div-vacio"></ScriptMaxHeight>
}else{
    <RutaErronea mensaje="No tienes los permisos suficientes para entrar a esta página"></RutaErronea>
}
}