
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IActividadesInterface ActividadesService

<div id="modal" class="modal" style='display: @(ActivarModal ? "block" : "none")'>
    <div class="modal-content ">
        <EditForm Model="@activadNueva" OnValidSubmit="AgregarActividad">
            <ObjectGraphDataAnnotationsValidator />
            <div class="modal-header d-flex justify-content-center text-primary">
                <span class="blue-dark-text text-41-book">Agregar <img class="mb-3" src="images/Actividades/Icono-actividades.png" /></span>
            </div>
            <div class="text-end pe-2">
                <i class="fa-regular fa-circle-xmark fa-lg mouse-pointer" @onclick="SalirConLaX"></i>
            </div>
            @if (!string.IsNullOrEmpty(mensajeError))
            {
                <MensajeParaModales Message="@mensajeError"></MensajeParaModales>
            }
            <div class=" modal-body d-flex row g-2 text-center">
                <div class="container border-transparent max-height-activity overflow-y-auto overflow-x-hidden scrollbar-modal-activities">
                    <div class="row  border border-success rounded-5 my-3">
                        <div class="d-flex justify-content-center mb-2 mt-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-actividad">Nombre Actividad:</label>
                            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-actividad" @bind-value="activadNueva.Actividad" @oninput="CambioActividad" />
                        </div>

                        <div class="text-center">
                            <ValidationMessage For="@(() => activadNueva.Actividad)" />
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-CiReferencia">CI-Referencia:</label>
                            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-CiReferencia" @bind-value="activadNueva.CI_referencia" @oninput="CambioCIReferencia" />
                        </div>
                        <div class="text-center">
                            <ValidationMessage For="@(() => activadNueva.CI_referencia)" />
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-horas">Horas:</label>
                            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-horas" @bind-value="activadNueva.horas" @oninput="CambioHoras" />
                        </div>
                        <div class="text-center">
                            <ValidationMessage For="@(() => activadNueva.horas)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-13-medium">
                <div @onclick="() => CancelarCambios()" class="button-footer rounded-pill border border-primary blue-dark-bg text-light mx-4 mouse-pointer" id="descartar-agregar-actividades">
                    Cancelar
                </div>
                <button type="submit" class="button-footer rounded-pill border border-input-gray green-bg text-light mx-4" id="guardar-agregar-actividades">
                    Agregar
                </button>
            </div>
        </EditForm>
    </div>
</div>