@inject IUsuariosInterface UsuariosService
@inject IPermisosInterface PermisosService
@inject IClientesInterface ClientesService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorageService
@inject IJSRuntime JSRuntime
@inject SweetAlertService Swal;

    <div id="modal" class="modal" style='display: @(ActivarModal ? "block" : "none")'>
        <div class="modal-content">
            <EditForm Model="perfil" OnValidSubmit="ActualizarPerfil" OnInvalidSubmit="ActivarScrollBarDeErrores">
                <DataAnnotationsValidator />
                <div class="modal-header d-flex justify-content-center ">
                    <h2 class="text-profile blue-dark-text">Perfil <img class="mb-3" src="images/Perfil/Icono-de-usuario.png" /></h2>

                </div>
                <div class="text-end" @onclick="SalirConLaX">
                    <i class="fa-regular fa-circle-xmark fa-lg mouse-pointer"></i>
                </div>
                @if (!string.IsNullOrEmpty(mensajeError))
                {
                    <MensajeParaModales Message="@mensajeError"></MensajeParaModales>
                }
           
                <div class="modal-body d-flex row g-2 text-start max-height-profile overflow-y-auto overflow-x-hidden scrollbar-modal-profile">
                @if (cargaInicial)
                {
                    <div class="d-flex justify-content-center ">
                        <label class="col-md-4  blue-dark-text label-text" for="correo">Correo:</label>
                        <input @bind-value="@perfil.correo" class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="correo" @oninput="CambioCorreo" />
                    </div>
                    <div class="text-center">
                        <ValidationMessage For="@(() => perfil.correo)" />
                    </div>
                    @if (!string.IsNullOrEmpty(mensajeCorreoRepite))
                    {
                        <div class="text-center mensaje-repite">
                            <MensajeRepite Message="@mensajeCorreoRepite" />
                        </div>

                    }
                    <div class="d-flex justify-content-center">
                        <label class="col-md-4  blue-dark-text label-text" for="usuario">Usuario:</label>
                        @if (rol == "Admin")
                        {
                            <input @bind-value="@perfil.usuario" class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="usuario" @oninput="CambioUsuario" />
                        }
                        else
                        {
                            <input @bind-value="@perfil.usuario" class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="usuario" readonly />
                        }

                    </div>
                    <div class="text-center">
                        <ValidationMessage For="@(() => perfil.usuario)" />
                    </div>
                    @if (!string.IsNullOrEmpty(mensajeUsuarioRepite))
                    {
                        <div class="text-center mensaje-repite">
                            <MensajeRepite Message="@mensajeUsuarioRepite" />
                        </div>
                    }
                    <div class="d-flex justify-content-center">
                        <label class="col-md-4  blue-dark-text label-text" for="contraseña">Contraseña:</label>
                        <div class="col-md-4 d-flex align-items-center border border-success rounded-pill text-input">
                            <input class="border-0 w-100 h-100 border-success rounded-pill px-2" type="@(mostrarClave ? "text" : "password")" id="contraseña" @bind-value="@perfil.claveDesencriptada" @oninput="CambioClave" />
                            @if (mostrarClave)
                            {
                                <div class="div-fa-solid d-flex align-items-center" @onclick="() => CambiarEstadoMostrarClave(false)">
                                    <i class="fa-solid fa-eye-slash p-2 text-green mouse-pointer"></i>
                                </div>

                            }
                            else
                            {
                                <div class="div-fa-solid d-flex align-items-center" @onclick="() => CambiarEstadoMostrarClave(true)">
                                    <i class="fa-solid fa-eye p-2 text-green mouse-pointer"></i>
                                </div>

                            }
                        </div>
                    </div>
                    <div class="text-center">
                        <ValidationMessage For="@(() => perfil.clave)" />
                        <ValidationMessage For="@(() => perfil.claveDesencriptada)" />
                    </div>

                    <div class="d-flex justify-content-center">
                        <label class="col-md-4  blue-dark-text label-text" for="empresa">Empresa:</label>
                        @if (rol == "Admin")
                        {
                            <select @bind="@clienteAsociado.CLIENTE" class="col-md-4 border border-success rounded-pill px-2 text-input " id="empresa" @oninput="CambioCodigoCliente">
                                @if (listaDeClientes.Any())
                                {
                                    foreach (var cliente in listaDeClientes)
                                    {
                                        <option value="@cliente.CLIENTE">@cliente.NOMBRE</option>
                                    }
                                }
                            </select>
                        }
                        else
                        {
                            <input @bind="@clienteAsociado.NOMBRE" class="col-md-4 border border-success rounded-pill px-2 text-input " id="empresa" type="text" readonly />
                        }

                    </div>
                    <div class="text-center">
                        <ValidationMessage For="@(() => perfil.nombre)" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <label class="col-md-4  blue-dark-text label-text" for="telefono">Telefono:</label>
                        <input @bind-value="@perfil.telefono" class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="telefono" @oninput="CambioTelefono" />
                    </div>
                    <div class="text-center">
                        <ValidationMessage For="@(() => perfil.telefono)" />
                    </div>
                    @if (rol == "Admin")
                    {
                    <div class="d-flex justify-content-center">
                        <label class="col-md-4  blue-dark-text label-text">Esquema:</label>
                        <div class="col-md-4">
                                <SelectEsquemas @ref="selectEsquemasComponente" codigo="@perfil.codigo"></SelectEsquemas>
                        </div>
                        
                    </div>
                    <div class="text-center">
                            @if (!string.IsNullOrEmpty(mensajeEsquema))
                            {
                                <MensajeParaModales Message="@mensajeEsquema"></MensajeParaModales>
                            }
                        </div>
                    <div class="d-flex justify-content-center">
                        <label class="col-md-4  blue-dark-text label-text" for="tipo">Tipo:</label>
                        <select @bind="perfil.rol" class="col-md-4 border border-success rounded-pill green-bg text-light px-2 text-input" id="tipo" @oninput="CambioRol">
                            <option value="Usuario">Usuario</option>
                            <option value="Admin">Administrador</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <ValidationMessage For="@(() => perfil.rol)" />
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <label class="col-md-4  blue-dark-text label-text">Permisos:</label>
                        <div class="col-md-4">
                             <SelectPermisos @ref="selectPermisosComponente" codigo="@perfil.codigo" esquema="@esquema"></SelectPermisos>
                        </div>
                    </div>
                    }
                    }
                </div>

                <div class="modal-footer">
                    <div @onclick="() => DescartarCambios()" class="button-footer mouse-pointer rounded-pill border border-primary blue-dark-bg text-light button-text mx-4" id="descartar-perfil">Descartar cambios</div>
                    <button type="submit" class="button-footer rounded-pill border border-success green-bg text-light button-text mx-4" id="guardar-perfil">Guardar cambios</button>
                </div>
               
            </EditForm>
        </div>
    </div>
 



