@inject IClientesInterface ClientesService
@inject IInformesInterface InformesService
@inject AuthenticationStateProvider AuthenticationStateProvider
<div id='modal' class='modal' style='display: @(ActivarModal ? "block" : "none")'>
    <div class="modal-content bg-light">
        <EditForm Model="@clientes" OnValidSubmit="ActualizarListaClientes">
            <ObjectGraphDataAnnotationsValidator />
        <div class="modal-header d-flex justify-content-center text-primary">
            <h2>Clientes <i class="fa-solid fa-user-group fa-xl"></i></h2>
        </div>

        <div class=" modal-body d-flex row g-2 text-center bg-light ">
            <div class="container mt-5 border-transparent">
                <!-- Utilizamos el componente Accordion de Bootstrap -->

                <div id="accordion" class="border-transparent max-height-client overflow-y-auto overflow-x-hidden scrollbar-modal-client">
                    <!-- Desplegable 1 -->
                    <div class="card border-transparent pb-3">
                    <div class="card-header row" id="headings">
                        <div class="col-md-1">
                            <label class="text-center w-100 blue-good" for="">Código</label>
                        </div>
                        <div class="col-md-1">
                            <label class=" text-center w-100 blue-good" for="">Nombre</label>
                        </div>
                        <div class="col-md-2">
                            <label class=" text-center w-100 blue-good" for="">Razón Social</label>
                        </div>
                        <div class="col-md-2">
                            <label class="text-center w-100 blue-good" for="">Cédula</label>
                        </div>
                        <div class="col-md-2">
                            <label class=" text-center w-100 blue-good" for="">Télefono 1</label>
                        </div>
                        <div class="col-md-2">
                            <label class="text-center w-100 blue-good" for="">Télefono 2</label>
                        </div>
                        <div class="col-md-2">
                            <label class="pe-3 text-center w-100 blue-good" for="">Correo</label>
                        </div>


                    </div>
                    @if (clientes != null)
                        {
                        int index = 0;
                        foreach (var cliente in clientes)
                        {
                            int cont = index;
                        
                             <div class="card-header row @cambioColores[cont].bg_color" id="heading-@cont">
                            <div class="mb-0 col-md-1">
                                @if (desplegables[cont].IsOpen)
                                {
                                    <input class="w-100 text-center blue-good border-success rounded-pill" type="text" value="@cliente.CLIENTE" readonly>
                                }
                                else
                                {
                                  <label class="w-100 text-center blue-good">@cliente.CLIENTE</label>
                                }
                                
                            </div>
                            <div class="mb-0 col-md-1">
                                @if (desplegables[cont].IsOpen)
                                {
                                                <input class="w-100 text-center blue-good border-success rounded-pill" type="text" @bind-value="@cliente.NOMBRE" @oninput="(e) => CambioNombre(e, cliente.CLIENTE)">
                                }
                                else
                                {
                                            <label class="w-100 text-center blue-good">@cliente.NOMBRE</label>
                                }
                                            <ValidationMessage For="@(() => cliente.NOMBRE)" />
                            </div>
                            <div class="mb-0 col-md-2">
                                        @if (desplegables[cont].IsOpen)
                                {
                                            <input class="w-100 text-center blue-good border-success rounded-pill" type="text" @bind-value="@cliente.ALIAS" @oninput="(e) => CambioAlias(e, cliente.CLIENTE)">
                                }
                                else
                                {
                                            <label class="w-100 text-center blue-good">@cliente.ALIAS</label>
                                }
                                            <ValidationMessage For="@(() => cliente.ALIAS)" />
                            </div>
                            <div class="mb-0 col-md-2">
                                        @if (desplegables[cont].IsOpen)
                                        {
                                                <input class="w-100 text-center blue-good border-success rounded-pill" type="text" @bind-value="@cliente.CONTRIBUYENTE" @oninput="(e) => CambioContribuyente(e, cliente.CLIENTE)">
                                        }
                                        else
                                        {
                                                 <label class="w-100 text-center blue-good">@cliente.CONTRIBUYENTE</label>
                                        }
                                            <ValidationMessage For="@(() => cliente.CONTRIBUYENTE)" />
                            </div>
                            <div class="mb-0 col-md-2">
                                    @if (desplegables[cont].IsOpen)
                                    {
                                            <input class="w-100 text-center blue-good border-success rounded-pill" type="text" @bind-value="@cliente.TELEFONO1" @oninput="(e) => CambioTelefono1(e, cliente.CLIENTE)">
                                    }
                                    else
                                    {
                                            <label class="w-100 text-center blue-good">@cliente.TELEFONO1</label>
                                    }
                                            <ValidationMessage For="@(() => cliente.TELEFONO1)" />
                            </div>
                            <div class="mb-0 col-md-2">
                                    @if (desplegables[cont].IsOpen)
                                    {
                                            <input class="w-100 text-center blue-good border-success rounded-pill" type="text" @bind-value="@cliente.TELEFONO2" @oninput="(e) => CambioTelefono2(e, cliente.CLIENTE)">
                                    }
                                    else
                                    {
                                            <label class="w-100 text-center blue-good">@cliente.TELEFONO2</label>
                                    }
                                            <ValidationMessage For="@(() => cliente.TELEFONO2)" />
                            </div>
                                    <div class="mb-0 col-md-2">
                                @if (desplegables[cont].IsOpen)
                                {
                                    <div class="d-flex">
                                    <input class="w-100 text-center blue-good border-success rounded-pill me-2" type="text" @bind-value="@cliente.E_MAIL" @oninput="(e) => CambioCorreo(e, cliente.CLIENTE)">
                                    <i class="fa-solid fa-caret-up d-flex justify-content-end text-success mouse-pointer" data-toggle="collapse" data-target="#contenidoDesplegable-@cont" aria-expanded="true" aria-controls="contenidoDesplegable-@cont" @onclick="() => ToggleCollapse(cont)"></i>
                                     </div>

                                }
                                else
                                {
                                    <div class="d-flex">
                                     <label class="w-75 text-center blue-good me-3">@cliente.E_MAIL</label>
                                      <i class="fa-solid fa-sort-down d-flex justify-content-end blue-good mouse-pointer" data-toggle="collapse" data-target="#contenidoDesplegable-@cont" aria-expanded="true" aria-controls="contenidoDesplegable-@cont" @onclick="() => ToggleCollapse(cont)"></i>
                                     </div>
                                            }
                                            <ValidationMessage For="@(() => cliente.E_MAIL)" />
                            </div>
                        </div>

                        <div id="contenidoDesplegable-@cont" class="collapse border-transparent bg-primary-subtle" aria-labelledby="heading-@cont" data-parent="#accordion">
                            <!-- Contenido del desplegable 1 -->
                            <!-- Agrega aquí el contenido que deseas mostrar cuando se haga clic en el botón -->
                            <div class="d-flex align-items-center justify-content-center">
                                        <div class="content w-75 pb-3">
                                            <div class="row p-2 blue-good-bg text-light border border-primary rounded-top-4">
                                                <div class="col-md-2">
                                                    <span>Usuario</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>Departamento</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>Correo</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <span>Correo</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <span>Correo</span>
                                                </div>
                                            </div>
                                            <div class="row p-2 blue-good border-bottom border-start border-end border-success">
                                                <div class="col-md-2">
                                                    <span>Usuario</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>Departamento</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>Correo</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <span>Correo</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <span>Correo</span>
                                                </div>
                                            </div>
                                            <div class="row p-2 blue-good border-bottom border-start border-end border-success">
                                                <div class="col-md-2">
                                                    <span>Usuario</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>Departamento</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>Correo</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <span>Correo</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <span>Correo</span>
                                                </div>
                                            </div>
                                            <div class="row p-2 blue-good border-bottom border-start border-end border-success rounded-bottom-4">
                                                <div class="col-md-2">
                                                    <span>Usuario</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>Departamento</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>Correo</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <span>Correo</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <span>Correo</span>
                                                </div>
                                            </div>

                                        </div>
                            </div>
                            <!-- Agrega más elementos aquí -->
                        </div>

                    index++;
                    }
                    }
                    <!-- Agrega más desplegables aquí si es necesario -->
                </div>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button @onclick="() => CloseModal()" class="rounded-pill border border-primary bg-primary text-light" id="descartar-clientes">Descartar cambios</button>
            <button type="submit" class="rounded-pill border border-success bg-success text-light" id="guardar-clientes">Guardar cambios</button>
        </div>
        </EditForm>
    </div>
</div>


