@inject IProyectosInterface ProyectosService
@inject AuthenticationStateProvider AuthenticationStateProvider


<div id="modal" class="modal" style='display: @(ActivarModal ? "block" : "none")'>
    <div class="modal-content bg-light">
        <EditForm Model="@proyectos" OnValidSubmit="ActualizarListaProyectos">
            <ObjectGraphDataAnnotationsValidator/>
        <div class="modal-header d-flex justify-content-center text-primary">
            <h2>Proyectos <i class="fa-solid fa-briefcase fa-xl"></i></h2>
        </div>

        <div class=" modal-body d-flex row g-2 text-center bg-light ">
            <div class="container mt-5 border-transparent">

                <div class="card-header row blue-good fw-bold" id="headings-proyects">
                    <div class="col-md-1">
                        <label class="text-center w-100" for=""># de Proyecto</label>
                    </div>
                    <div class="col-md-2">
                        <label class=" text-center w-100" for="">Nombre del Consultor</label>
                    </div>
                    <div class="col-md-1">
                        <label class=" text-center w-100" for="">Fecha Inicial</label>
                    </div>
                    <div class="col-md-1">
                        <label class="text-center w-100" for="">Fecha Final</label>
                    </div>
                    <div class="col-md-1">
                        <label class="pe-2 text-center w-100" for="">Horas Totales</label>
                    </div>
                    <div class="col-md-2">
                        <label class="pe-3 text-center w-100" for="">Empresa</label>
                    </div>
                    <div class="col-md-2">
                        <label class="pe-4 text-center w-100" for="">Centro de Costo</label>
                    </div>
                    <div class="col-md-2">
                        <label class="pe-4 text-center w-100" for="">Nombre de Proyecto</label>
                    </div>
                </div>
                <div class="max-height-projects overflow-y-auto overflow-x-hidden scrollbar-modal-projects">
                    @if(proyectos != null)
                    {
                        @foreach (var proyecto in proyectos)
                        {
                            <div class="card-header row text-secondary mb-3 mt-3">
                                <div class="mb-0 col-md-1">

                                    <input class="w-100 text-center border-success rounded-pill" type="text" @bind-value="@proyecto.numero" readonly>
                                        

                                </div>
                                <div class="mb-0 col-md-2">

                                        <input class="w-100 text-center border-success rounded-pill" type="text" @bind-value="@proyecto.nombre_consultor" @oninput="(e) => CambioNombreConsultor(e, proyecto.Id)">
                                        <ValidationMessage For="@(() => proyecto.nombre_consultor)" />


                                </div>
                                <div class="mb-0 col-md-1">

                                        <input class="w-100 text-center border-success rounded-pill" type="date" @bind-value="@proyecto.FechaInicialDateTime" @oninput="(e) => CambioFechaInicial(e, proyecto.Id)">
                                        <ValidationMessage For="@(() => proyecto.FechaInicialDateTime)" />
                                </div>
                                <div class="mb-0  col-md-1">

                                        <input class="w-100 text-center border-success rounded-pill" type="date" @bind-value="@proyecto.FechaFinalDateTime" @oninput="(e) => CambioFechaFinal(e, proyecto.Id)">
                                        <ValidationMessage For="@(() => proyecto.fecha_final)" />
                                </div>
                                <div class="mb-0  col-md-1">

                                        <input class="w-100 text-center border-success rounded-pill" type="text" @bind-value="@proyecto.horas_totales" @oninput="(e) => CambioHorasTotales(e, proyecto.Id)">
                                        <ValidationMessage For="@(() => proyecto.horas_totales)" />
                                </div>
                                <div class="mb-0  col-md-2">

                                        <input class="w-100 text-center border-success rounded-pill" type="text" @bind-value="@proyecto.empresa" @oninput="(e) => CambioEmpresa(e, proyecto.Id)">
                                        <ValidationMessage For="@(() => proyecto.empresa)" />
                                </div>
                                <div class="mb-0  col-md-2">

                                        <input class="w-100 text-center border-success rounded-pill me-2" type="text" @bind-value="@proyecto.centro_costo" @oninput="(e) => CambioCentroCosto(e, proyecto.Id)">
                                        <ValidationMessage For="@(() => proyecto.centro_costo)" />
                                </div>
                                <div class="mb-0  col-md-2">

                                        <input class="w-100 text-center border-success rounded-pill me-2" type="text" @bind-value="@proyecto.nombre_proyecto" @oninput="(e) => CambioNombreProyecto(e, proyecto.Id)">
                                        <ValidationMessage For="@(() => proyecto.nombre_proyecto)" />
                                </div>

                            </div>
                        }
                    }

                </div>
            </div>
        </div>
        <div class="modal-footer">
             <button @onclick="() => CloseModal()" class="rounded-pill border border-primary bg-primary text-light" id="descartar-proyectos">
                Descartar
                cambios
            </button>
            <button type="submit" class="rounded-pill border border-success bg-success text-light" id="guardar-proyectos">
                Guardar
                cambios
            </button>
        </div>
        </EditForm >
    </div>
</div>


