@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IActividadesInterface ActividadesService

<div id="modal" class="modal" style='display: @(ActivarModal ? "block" : "none")'>
    <div class="modal-content">
        <EditForm Model="@actividades" OnValidSubmit="ActualizarListaActividades">
            <ObjectGraphDataAnnotationsValidator/>
        <div class="modal-header d-flex justify-content-center text-primary">
            <span class="blue-dark-text ms-3 text-23-book title-activity"><span>Actividades</span> <img src="images/Actividades/Icono-actividades.png" /></span>
        </div>
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                <a class='text-light eyelash-activity eyelash-activity-list green-bg p-2 pe-3 ps-3 @GetTabLinkClass("lista")' @onclick='() => ChangeTab("lista")'>Lista Actividades</a>
                <a class=' text-light eyelash-activity eyelash-activity-create green-add-bg p-2 pe-3 ps-3 @GetTabLinkClass("crear")' @onclick='() => ChangeTab("crear")'>Crear Actividad</a>
                </div>
                @if(activeTab == "lista")
                {
                    <div class="d-flex justify-content-end">
                        <button class="search-icon-change text-light d-flex align-items-center">
                            <img src="images/Home/Buscador.png" class="w-100" />
                        </button>
                        <BuscarActividad Texto="RecibirTexto"></BuscarActividad>

                    </div>
                }
                else if (activeTab == "crear")
                {
                    <div class="d-flex justify-content-start w-50 me-5 align-items-center">
                        <h4 class="green-text">Agregar Actividad</h4>
                    </div>
                }
               
            </div>
        <div class="modal-body d-flex row g-2 text-center ">
            <div class="row g-2 text-center" style='display: @(activeTab == "lista" ? "block" : "none")'>

            <div class="container-fluid text-20-bold">
                    <div class="row green-text">
                    <div class="col-md-3">
                        <label class="ms-4 text-center w-75 " >Código de Act.</label>
                    </div>
                    <div class="col-md-3">
                        <label class="pe-4 text-center w-100" >Nombre</label>
                    </div>
                    <div class="col-md-4">
                        <label class="pe-4 text-center w-100 " >CI-Referencia</label>
                    </div>
                    <div class="col-md-2">
                        <label class="ms-3 text-end w-50" >Horas</label>
                    </div>
                </div>
            </div>
            <div class="max-height-activity overflow-y-auto overflow-x-hidden scrollbar-modal-activity">
            @if(actividades != null)
            {
                        var listaActividades = actividades;
                        if (!string.IsNullOrEmpty(textoRecibido))
                        {
                            // Filtrar la lista de clientes por el nombre que contenga el texto de búsqueda
                            listaActividades = listaActividades.Where(actividad =>
                            actividad.Actividad.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                            actividad.CI_referencia.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                            actividad.codigo.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0
                            ).ToList();
                        }
                   
                foreach (var actividad in listaActividades)
                {

                   
                    <div class="row mb-2 text-16-book">
                        <div class="col-md-3">
                            <input class="w-75 text-center text-secondary border-success rounded-pill" type="text" @bind-value="@actividad.codigo" readonly>
                        </div>
                        <div class="col-md-3">
                            <input class="w-100 text-center blue-dark-text border-primary rounded-pill" type="text" @bind-value="@actividad.Actividad" @oninput="(e) => CambioActividadNombre(e, actividad.Id)">
                              <ValidationMessage For="@(() => actividad.Actividad)" />
                        </div>
                         
                        <div class="col-md-4">
                            <input class="w-100 text-center text-secondary border-success rounded-pill" type="text" @bind-value="@actividad.CI_referencia" @oninput="(e) => CambioCIReferencia(e, actividad.Id)">
                             <ValidationMessage For="@(() => actividad.CI_referencia)"  />
                        </div>
                       
                        <div class="col-md-2">
                            <input class="w-50 text-center text-secondary border-success rounded-pill" type="text" @bind-value="@actividad.horas" @oninput="(e) => CambioHoras(e, actividad.Id)">
                            <ValidationMessage For="@(() => actividad.horas)"  />
                        </div>
                       
                    </div>
                      
                }
            }
            </div>
            </div>
            <div class="container mt-2" style='display: @(activeTab == "crear" ? "block" : "none")'>
                    <CrearActividad></CrearActividad>
             </div>
        </div>

    <div class="modal-footer text-12-medium">
        <div @onclick="() => CloseModal()" class="button-footer mouse-pointer rounded-pill border border-primary blue-dark-bg text-light mx-4" id="descartar">Descartar cambios</div>
        <button type="submit" class="button-footer rounded-pill border border-success green-bg text-light mx-4" id="guardar">Guardar cambios</button>
    </div>
    </EditForm>
    </div>
</div>


