@inject IClientesInterface ClientesService
@inject IInformesInterface InformesService
@inject IUsuariosInterface UsuariosService
@inject AuthenticationStateProvider AuthenticationStateProvider
<div id='modal' class='modal' style='display: @(ActivarModal ? "block" : "none")'>
    <div class="modal-content">
        <EditForm Model="@clientes" OnValidSubmit="ActualizarListaClientes">
            <ObjectGraphDataAnnotationsValidator />
            <div class="modal-header d-flex justify-content-center text-primary">
                <span class="blue-dark-text text-client-title"><span>Clientes</span> <img class="mb-3" src="images/Clientes/Icono-clientes.png" /></span>
            </div>

            <div class=" modal-body d-flex row g-2 text-center ">
                <div class="d-flex">
                    <div class="h-75">
                    <a class='text-light eyelash-client eyelash-client-list green-bg p-2 pe-3 ps-3 @GetTabLinkClass("lista")' @onclick='() => ChangeTab("lista")'>Lista Clientes</a>
                    <a class=' text-light eyelash-client eyelash-client-create green-add-bg p-2 pe-3 ps-3 @GetTabLinkClass("crear")' @onclick='() => ChangeTab("crear")'>Crear Cliente</a>
                    </div>
                    <div class="d-flex justify-content-center w-50 mb-2">
                        @if (activeTab== "lista")
                        {
                            <h4 class="green-text">Lista de Clientes</h4>
                        }
                        else if (activeTab == "crear")
                        {
                            <h4 class="green-text">Agregar Cliente</h4>
                        }
                        
                    </div>
                </div>
                <div class="container mt-2" style='display: @(activeTab == "lista" ? "block" : "none")'>
                   
                    <!-- Utilizamos el componente Accordion de Bootstrap -->

                    <div id="accordion" class="border-transparent max-height-client overflow-y-auto overflow-x-hidden scrollbar-modal-client" >
                       
                        <!-- Desplegable 1 -->
                        <div class="card border-transparent pb-3">
                            <div class="card-header row blue-light-text fw-bold text-15-book" id="headings">
                                <div class="col-md-1">
                                    <label class="text-center w-100 " >Código</label>
                                </div>
                                <div class="col-md-2">
                                    <label class=" text-center w-100 " >Nombre</label>
                                </div>
                                <div class="col-md-2">
                                    <label class=" text-center w-100 " >Razón Social</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="text-center w-100" >Cédula</label>
                                </div>
                                <div class="col-md-2">
                                    <label class=" text-center w-100" >Télefono 1</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="text-center w-100" >Télefono 2</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="pe-3 text-center w-100" >Correo</label>
                                </div>


                            </div>
                            @if (clientes != null)
                            {
                                int index = 0;
                                foreach (var cliente in clientes)
                                {
                                    int cont = index;

                                    <div class="card-header row text-15-book" id="heading-@cont">
                                        <div class="mb-0 col-md-1">
                                            @if (cliente.IsOpen)
                                            {
                                                <input class="w-100 text-center text-secondary border-success rounded-pill" type="text" value="@cliente.CLIENTE" readonly>
                                            }
                                            else
                                            {
                                                <label class="w-100 text-center text-secondary">@cliente.CLIENTE</label>
                                            }

                                        </div>
                                        <div class="mb-0 col-md-2">
                                            @if (cliente.IsOpen)
                                            {
                                                <input class="w-100 text-center text-secondary border-success rounded-pill" type="text" @bind-value="@cliente.NOMBRE" @oninput="(e) => CambioNombre(e, cliente.CLIENTE)">
                                            }
                                            else
                                            {
                                                <label class="w-100 text-center text-secondary">@cliente.NOMBRE</label>
                                            }
                                            <ValidationMessage For="@(() => cliente.NOMBRE)" />
                                        </div>
                                        <div class="mb-0 col-md-2">
                                            @if (cliente.IsOpen)
                                            {
                                                <input class="w-100 text-center text-secondary border-success rounded-pill" type="text" @bind-value="@cliente.ALIAS" @oninput="(e) => CambioAlias(e, cliente.CLIENTE)">
                                            }
                                            else
                                            {
                                                <label class="w-100 text-center text-secondary">@cliente.ALIAS</label>
                                            }
                                            <ValidationMessage For="@(() => cliente.ALIAS)" />
                                        </div>
                                        <div class="mb-0 col-md-1">
                                            @if (cliente.IsOpen)
                                            {
                                                <input class="w-100 text-center text-secondary border-success rounded-pill" type="text" @bind-value="@cliente.CONTRIBUYENTE" @oninput="(e) => CambioContribuyente(e, cliente.CLIENTE)">
                                            }
                                            else
                                            {
                                                <label class="w-100 text-center text-secondary">@cliente.CONTRIBUYENTE</label>
                                            }
                                            <ValidationMessage For="@(() => cliente.CONTRIBUYENTE)" />
                                        </div>
                                        <div class="mb-0 col-md-2">
                                            @if (cliente.IsOpen)
                                            {
                                                <input class="w-100 text-center text-secondary border-success rounded-pill" type="text" @bind-value="@cliente.TELEFONO1" @oninput="(e) => CambioTelefono1(e, cliente.CLIENTE)">
                                            }
                                            else
                                            {
                                                <label class="w-100 text-center text-secondary">@cliente.TELEFONO1</label>
                                            }
                                            <ValidationMessage For="@(() => cliente.TELEFONO1)" />
                                        </div>
                                        <div class="mb-0 col-md-2">
                                            @if (cliente.IsOpen)
                                            {
                                                <input class="w-100 text-center text-secondary border-success rounded-pill" type="text" @bind-value="@cliente.TELEFONO2" @oninput="(e) => CambioTelefono2(e, cliente.CLIENTE)">
                                            }
                                            else
                                            {
                                                <label class="w-100 text-center text-secondary">@cliente.TELEFONO2</label>
                                            }
                                            <ValidationMessage For="@(() => cliente.TELEFONO2)" />
                                        </div>
                                        <div class="mb-0 col-md-2">
                                            @if (cliente.IsOpen)
                                            {
                                                <div class="d-flex">
                                                    <input class="w-100 text-center text-secondary border-success rounded-pill me-2" type="text" @bind-value="@cliente.E_MAIL" @oninput="(e) => CambioCorreo(e, cliente.CLIENTE)">
                                                    <i class="mt-2 fa-solid fa-caret-up fa-xl d-flex justify-content-end green-text mouse-pointer" data-toggle="collapse" data-target="#contenidoDesplegable-@cont" aria-expanded="true" aria-controls="contenidoDesplegable-@cont" @onclick="() => ToggleCollapse(cliente.CLIENTE)"></i>
                                                </div>

                                            }
                                            else
                                            {
                                                <div class="d-flex">
                                                    <label class="w-75 text-center text-secondary me-3">@cliente.E_MAIL</label>
                                                    <i class="fa-solid fa-sort-down fa-xl d-flex justify-content-end blue-light-text mouse-pointer" data-toggle="collapse" data-target="#contenidoDesplegable-@cont" aria-expanded="true" aria-controls="contenidoDesplegable-@cont" @onclick="() => ToggleCollapse(cliente.CLIENTE)"></i>
                                                </div>
                                            }
                                            <ValidationMessage For="@(() => cliente.E_MAIL)" />
                                        </div>
                                    </div>

                                    <div id="contenidoDesplegable-@cont" class="collapse collapsed border-transparent bg-light collapsing" aria-labelledby="heading-@cont" data-parent="#accordion">
                                        <!-- Contenido del desplegable 1 -->
                                        <!-- Agrega aquí el contenido que deseas mostrar cuando se haga clic en el botón -->
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="content w-75 pb-3">
                                                @if (cliente.listaDeUsuarios.Any())
                                                {
                                                <div class="row p-2 blue-dark-bg text-light border border-primary rounded-top-4 text-9-bold">
                                                    <div class="col-md-2">
                                                        <span>Código</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span>Usuario</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span>Departamento</span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span>Correo</span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span>Teléfono</span>
                                                    </div>
                                                </div>
                                                
                                                    foreach (var usuario in cliente.listaDeUsuarios)
                                                    {
                                                        <div class="row text-15-book p-2 blue-dark-text border-bottom border-start border-end border-success @(esElUltimoUsuario(cliente, usuario) ? "rounded-bottom-4" : "")">
                                                            <div class="col-md-2">
                                                                <span>@usuario.codigo</span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <span>@usuario.usuario</span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <span>@usuario.departamento</span>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <span>@usuario.correo</span>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <span>@usuario.telefono</span>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <!-- Agrega más elementos aquí -->
                                    </div>

                                    index++;
                                }
                            }
                            <!-- Agrega más desplegables aquí si es necesario -->
                        </div>
                    </div>
                </div>
                <div class="container mt-2" style='display: @(activeTab == "crear" ? "block" : "none")'>
                    <CrearCliente></CrearCliente>
                </div>
            </div>
            <div class="modal-footer button-text">
                <div @onclick="() => CloseModal()" class="button-footer mouse-pointer rounded-pill border border-primary blue-dark-bg text-light mx-4" id="descartar-clientes">Descartar cambios</div>
                <button type="submit" class="button-footer rounded-pill border border-success green-bg text-light mx-4" id="guardar-clientes">Guardar cambios</button>
            </div>
        </EditForm>
    </div>
</div>


