@page "/Editar/{consecutivo}"
@inject IInformesInterface InformesService
@inject IClientesInterface ClientesService
@inject IActividadesInterface ActividadesService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
<Layout ></Layout>
<div class="container-fluid p-2 pe-5 ps-5 body-edit">
    <div class="row">
        <div class="col-md-6">
            <div class="row p-2">
                <div class="col-md-6 d-flex row text-center">
                    <span class="blue-good">Fecha: <span class="text-success">@informe.fecha_consultoria</span></span>
                     <span class="blue-good">Hora Inicio: <span class="text-success">@hora_inicio_reducida hs</span></span>
                </div>
                <div class="col-md-6 d-flex row text-center">
                    <span class="blue-good">Cliente: <span class="text-success">@ClienteAsociado.NOMBRE</span></span>
                    <span class="blue-good">Hora de Fin: <span class="text-success">@hora_final_reducida hs</span></span>
                </div>
            </div>
            <div class="row content bg-body-secondary table-height rounded-start-5">
                <div class="row text-center p-2 blue-good">
                    <div class="col-md-4 p-2">
                        <span>Nombre</span>
                    </div>
                    <div class="col-md-4 p-2">
                        <span>Dep.</span>
                    </div>
                    <div class="col-md-4" >
                        <span>Aceptación</span>
                    </div>
                </div>
                <div class="row p-2 text-center">
                    <div class="col-md-4">
                      <span>@ClienteAsociado.CONTACTO</span>
                    </div>
                    <div class="col-md-4">
                        <span>@ClienteAsociado.CARGO</span>
                    </div>
                    <div class="col-md-4 pt-0 mt-0">

                        @if(informe.estado == "Finalizado"){
                            <input type="checkbox" class="custom-checkbox" id="myCheckbox" checked>
                            <label class="label-transparent" for="myCheckbox">|</label>
                        }else{
                            <input type="checkbox" class="custom-checkbox" id="myCheckbox">
                            <label class="label-transparent" for="myCheckbox">|</label>
                        }
                        
                    </div>
                </div>
                <div class="row p-2 text-center">
                    <div class="col-md-4">
                        <span>Hernan Hernanez</span>
                    </div>
                    <div class="col-md-4">
                        <span>Informática</span>
                    </div>
                    <div class="col-md-4">
                                <input type="checkbox" class="custom-checkbox" id="myCheckbox2">
                                <label class="label-transparent" for="myCheckbox2">|</label>
                    </div>
                </div>
                <div class="row p-2 text-center">
                    <div class="col-md-4">
                        <span>Hernan Hernanez</span>
                    </div>
                    <div class="col-md-4">
                        <span>Informática</span>
                    </div>
                    <div class="col-md-4">
                                <input type="checkbox" class="custom-checkbox" id="myCheckbox3">
                                <label class="label-transparent" for="myCheckbox3">|</label>
                    </div>
                </div>

            </div>
            <div class="observation border border-success rounded-5 text-success d-flex align-items-center justify-content-center">
                <span>+ Observaciones</span>
            </div>


        </div>
        <div class="col-md-6">
            <div class="p-2 d-flex justify-content-between align-items-center">
                <span class="blue-good">Informe #@informe.consecutivo</span>
                <select class=" text-success border-0">
                        <option selected>Modalidad</option>
                        <option value="Virtual">Virtual</option>
                        <option value="Presencial">Presencial</option>
                </select>
            </div>

            <div class="content text-light">
                <div class="row bg-primary pe-0 ps-0 ms-0 content-behind rounded-bottom-5">
                    <div class="ps-0 ms-0 blue-good-bg content-behind content-behind-bottom ">
                        <div class="row text-center p-2 blue-good-bg ms-0 content-behind">
                            <div class="col-md-4">
                                <h5>Actividad</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>HS Cobradas</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>HS No Cobradas</h5>
                            </div>
                        </div>
                        <div class="overflow-auto max-height-col scrollbar-report height-footer ">
                        @if(listaActividades != null){
                            @foreach (var actividad in listaActividades)
                            {
                                  <div class="row p-2 text-center ms-0">
                                        <div class="col-md-4">
                                            <span>@actividad.Actividad</span>
                                        </div>
@*                                        <div class="col-md-4">
                                            <span>@actividad.horas_cobradas</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span>@actividad.horas_no_cobradas</span>
                                        </div>*@
                                    </div>
                            }
                        }      
                    </div>
                </div>
                <div class="row p-4 ms-0 text-center bg-primary rounded-bottom-5">
                    <div class="col-md-4">
                        <span>Total de Horas</span>
                    </div>
                    <div class="col-md-4">
                        <span>@total_horas_cobradas</span>
                    </div>
                    <div class="col-md-4">
                        <span>@total_horas_no_cobradas</span>
                    </div>
                </div>
                </div>
            </div>
            <div class="p-2 text-success d-flex justify-content-center m-3">
                <div class="d-flex row text-center">
                    <i class="fa-solid fa-trash"></i>
                    <span>Descartar</span>
                </div>
                <div class="d-flex row text-center">
                    <i class="fa-solid fa-download"></i>
                    <span>Guardar Borrador</span>
                </div>
                <div class="d-flex row text-center">
                    <i class="fa-solid fa-square-check"></i>
                    <span>Finalizar</span>
                </div>
            </div>
        </div>
    </div>
</div>
    </Authorized>
</AuthorizeView>


