
@inject IInformesInterface InformesService
@inject IClientesInterface ClientesService
@inject IActividadesInterface ActividadesService
@inject IUsuariosInterface UsuariosService
@inject IObservacionesInterface ObservacionesService
@inject IDepartamentosInterface DepartamentosService
@inject IProyectosInterface ProyectosService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS
@inject NavigationManager navigationManager
@inject SweetAlertService Swal;
@inject IAlertasInterface AlertasService
@if (cargaInicial)
{
@if(string.IsNullOrEmpty(mensajeConsecutivo)){
@if(usuarioAutorizado){
@if (informe.estado == "Borrador")
{       
        <div class="el-layout">
                <Layout></Layout>
        </div>
        
         <EditForm Model="@informe" OnValidSubmit="ActualizarInformeAsociado" OnInvalidSubmit="InvalidSubmit">
                <ObjectGraphDataAnnotationsValidator />
        <div class="container-fluid p-2 pe-5 ps-5 body-edit">
            
                <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
          
                    <div class="row p-2 header-col-left">
                    @if(!string.IsNullOrEmpty(informe.consecutivo)){
                        
                            <div class="col-md-6 col-sm-6 col-xs-6 d-flex row text-start align-items-center report-date">
                                    <span class="col-md-4 col-sm-4 col-xs-4 blue-dark-text font-12-medium">Fecha: </span>
                                    <input type="date" class="col-md-8 col-sm-8 col-xs-8 green-text font-10-bold border-0" @bind-value="@informe.FechaConsultoriaDateTime" @oninput="CambioFechaConsultoria">
                                <ValidationMessage For="@(() => informe.fecha_consultoria)" />
                            </div>
                            <div  class="col-md-6 col-sm-6 col-xs-6 d-flex row text-start report-time">
                                    <span class="col-md-6 col-sm-6 col-xs-6 blue-dark-text font-12-medium">Hora de Inicio: </span>
                                    <div class="col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
                                        <input type="time" class="green-text border-0 font-10-bold" @bind-value="@informe.HoraInicioTime" @oninput="CambioHoraInicio">
                                        <span class="green-text">hs</span>
                                    </div>
                                   
                                <ValidationMessage For="@(() => informe.HoraInicioTimeSpan)" />
                            </div>
                            <div class="row d-flex align-items-center col-md-6 col-sm-6 col-xs-6 row text-start">
                                <span class="col-md-4 col-sm-4 col-xs-4 blue-dark-text font-12-medium">Cliente: </span>
                                <span class="col-md-8 col-sm-8 col-xs-8 green-text border-0 font-10-bold texto-puntos-suspensivos" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@ClienteAsociado.NOMBRE">@ClienteAsociado.NOMBRE</span>                            

                            </div>
                            <div  class="col-md-6 col-sm-6 col-xs-6 d-flex row text-start report-time">
                                <span class="col-md-6 col-sm-6 col-xs-6 blue-dark-text font-12-medium">Hora de Fin: </span>
                                <div class="col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
                                <input type="time" class="green-text border-0 font-10-bold" @bind-value="@informe.HoraFinalTime" @oninput="CambioHoraFinal">
                                <span class="green-text">hs</span>
                                </div>
                                <ValidationMessage For="@(() => informe.HoraFinalTimeSpan)" />
                            </div>
                       
                   
                    <button @ref="informeButton" style="display: none"></button>
                    }
                        
                    </div>
           
                <button type="button" class="border-success rounded-3 btn-agregar-usuario text-light px-2 my-1" @onclick="() => ClickHandlerAgregarUsuario(true)" title="Agregar usuario de informe">Agregar Usuario</button>
                <div class="table-gray-left rounded-start-5">
                    <div class="row content">
                        <div class="row text-center p-2 blue-light-text font-12-book header-usuarios-informe mx-1">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="ms-3">NOMBRE</span>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span>DEP.</span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <span class="me-3">CORREO</span>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <span class="me-2">RECIBIDO</span>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                
                            </div>
                        </div>
                <div class="overflow-y-auto overflow-x-hidden max-height-col scrollbar-report">
                    @if (listadeDatosUsuariosDeClienteDeInforme != null)
                        {

                        foreach (var usuario in listadeDatosUsuariosDeClienteDeInforme)
                            {
                                <div class="row p-2 text-center font-10-book borde-gris-arriba mx-1">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span>@usuario.nombre_usuario</span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span>@usuario.departamento_usuario</span>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="texto-puntos-suspensivos" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@usuario.correo_usuario">
                                            <span >@usuario.correo_usuario</span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-1 pt-0 mt-0">
                                        
                                        @if (usuario.recibido == "1")
                                        {
                                           
                                            <input type="checkbox" class="custom-checkbox" id="myCheckbox @usuario.id" checked disabled>
                                                <label class="label-transparent ms-4" for="myCheckbox @usuario.id">.</label>
  
                                        }
                                        else
                                        {
                                                <input type="checkbox" class="custom-checkbox" id="myCheckbox @usuario.id" disabled>
                                            <label class="label-transparent ms-4" for="myCheckbox @usuario.id">.</label>
                                        }

                                    </div>
                                <div class="col-md-1 col-sm-1 col-xs-1 mouse-pointer" @onclick='() => SwalAccionPregunta("¿Está seguro de eliminar el usuario " + usuario.nombre_usuario + "?", "Usuario", usuario.codigo_usuario)'>
                                        <i class="ms-4 fa-solid fa-x text-danger"></i>
                                    </div>
                                </div>
                            }

                        }
                </div>
                
             </div>
            </div>
                    <div class="d-flex row justify-content-center align-items-center text-center div-observaciones">
                        <span class="green-text font-10-bold">Observaciones</span>
                        <div class=" observation row max-height-observation overflow-y-auto overflow-x-hidden scrollbar-report mb-1">
                                @if (listaDeObservaciones.Any())
                                {
                                    @foreach (var observacion in listaDeObservaciones)
                                    {
                                        <div class="col-md-2 col-sm-2 col-xs-2 border-green @(EsLaPrimeraObservacion(observacion) ? "border-inicio-izquierda" : "") @(EsLaUltmaObservacion(observacion) ? "border-final-izquierda" : "")" >
                                            <span class="break-line">@observacion.nombre_usuario</span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 col-xs-10 border-green text-start @(EsLaPrimeraObservacion(observacion) ? "border-inicio-derecha" : "") @(EsLaUltmaObservacion(observacion) ? "border-final-derecha" : "")" >
                                            <span class="break-line">@observacion.observacion</span>
                                        </div>
                                    }
                                }
                        </div>
                        <a class=" observation border border-success rounded-5 green-text d-flex align-items-center justify-content-center mouse-pointer p-2" @onclick="() => ClickHandlerObservaciones(true)" title="Agregar observación de informe">
                              <span>+ Observaciones</span>
                        </a>
                    </div>
                    


                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="p-2 d-flex justify-content-between align-items-center header-col-right">
                        <span class="blue-dark-text font-12-medium">Proyecto #@proyectoAsociado.numero - Informe #@informe.consecutivo</span>
                        <select @bind="informe.modalidad_consultoria" class="green-text border-0 font-12-medium">
                            <option value="Virtual">Virtual</option>
                            <option value="Presencial">Presencial</option>
                        </select>
                    </div>
                <button type="button" class="border-light rounded-3 blue-light-bg text-light px-2 btn-agregar-actividad" @onclick="() => ClickHandlerAgregarActividad(true)" title="Agregar actividad de informe">Agregar Actividad</button>
                <div class="content text-light">
                    
                    <div class="row blue-light-bg pe-0 ps-0 ms-0 content-behind rounded-bottom-5">
                        <div class="table-right blue-dark-bg content-behind content-behind-bottom">
                        <div class="ps-0 ms-0 ">
                                <div class="row text-center px-2 pt-4 blue-dark-bg ms-0 content-behind font-12-book">
                                <div class="col-md-3 col-sm-3 col-xs-3 py-2">
                                    <span>ACTIVIDAD</span>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2 py-2">
                                    <span>HS COBRADAS</span>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 py-2">
                                    <span>HS NO COBRADAS</span>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 py-2">
                                    <span>FECHA</span>
                                </div>
                            </div>
                            <div class="overflow-y-auto overflow-x-hidden max-height-col-activity scrollbar-report" id="scroll-bar-id">
                            
                                @if (informe.listaActividadesAsociadas != null)
                                {

                                    @foreach (var actividad in informe.listaActividadesAsociadas)
                                    {
                                        <div class="row px-2 text-center ms-0 font-10-book borde-gris-arriba">
                                            <div class="col-md-3 col-sm-3 col-xs-3 borde-gris-derecha py-2">
                                                <select @bind="@actividad.codigo_actividad" @oninput="(e) => CambioActividad(e, actividad.Id)" 
                                                    class="border-0 bg-transparent text-light" id="select-actividad-@actividad.codigo_actividad" 
                                                                @ondblclick="() => HacerSelectEditable(actividad.codigo_actividad)" data-toggle="tooltip" data-placement="top" title="@(rol == "Admin" || listaActividadesDeUsuario.Any(a => a.codigo == actividad.codigo_actividad) ? "Haga Doble click para editar" : "No se puede editar ya que está actividad no es suya")">
                                                    
                                                    @if(listaActividades.Any()){
                                                        var listaActividadesFiltrada = listaActividades.Where(a => a.estado != "Inactivo" || a.codigo == actividad.codigo_actividad).ToList();
                                                        if(rol != "Admin"){
                                                             listaActividadesFiltrada = listaActividades.Where(a => a.codigo == actividad.codigo_actividad || a.codigo_usuario == perfilActual.codigo).ToList();
                                                        }
                                                    
                                                        @foreach (var laActividad in listaActividadesFiltrada)
                                                        {
                                                            if(laActividad.codigo == actividad.codigo_actividad){
                                                                <option value="@laActividad.codigo" class="blue-light-bg">
                                                                @actividad.nombre_actividad
                                                                </option>
                                                            }else{
                                                                <option value="@laActividad.codigo" class="blue-light-bg">
                                                                @laActividad.Actividad
                                                                </option>
                                                            }
                                                            
                                                        }
                                                    }
                                                </select>
                                                <ValidationMessage For="@(() => actividad.codigo_actividad)" />
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 borde-gris-derecha py-2">
                                                <input type="text" @bind-value="actividad.horas_cobradas" @oninput="(e) => CambioHorasCobradas(e, actividad.Id)" class="border-0 bg-transparent width-input text-light">
                                                <span>horas</span>
                                                <ValidationMessage For="@(() => actividad.horas_cobradas)" />
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3 borde-gris-derecha py-2">
                                                <input type="text" @bind-value="actividad.horas_no_cobradas" @oninput="(e) => CambioHorasNoCobradas(e, actividad.Id)" class="border-0 bg-transparent width-input text-light">
                                                <span>horas</span>
                                                <ValidationMessage For="@(() => actividad.horas_no_cobradas)" />
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3 py-2">
                                                <input type="date" @bind-value="actividad.FechaDateTime" @oninput="(e) => CambioFechaActividad(e, actividad.Id)" class="border-0 bg-transparent text-light">
                                                <ValidationMessage For="@(() => actividad.FechaDateTime)" />
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1 mouse-pointer py-2" @onclick='() => SwalAccionPregunta("¿Está seguro de eliminar la Actividad " + actividad.nombre_actividad + "?", "Actividad", actividad.Id)'>
                                                <i class="fa-solid fa-x text-danger"></i>
                                            </div>
                                        </div>
                                    }
                                }
                              

                            </div>
                    
                            </div>
                        </div>
                        <div class="row px-4 ms-0 text-center blue-light-bg rounded-bottom-5 font-10-book footer-horas">

                            <div class="col-md-3 col-sm-3 col-xs-3 py-4">
                                <span>Total de Horas</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 py-4">
                                <span>@total_horas_cobradas</span>
                                <span>horas</span>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 py-4">
                                <span>@total_horas_no_cobradas</span>
                                <span>horas</span>
                            </div>
                        </div>
                    </div>

                </div>

                    <div class="p-2 green-text d-flex justify-content-center m-3 font-11-medium footer-col-right">
                    <a class="d-flex justify-content-center row text-center mouse-pointer" @onclick='() => SwalAccionPregunta("¿Está seguro de eliminar el informe actual?", "Informe", Consecutivo)' title="Descartar el informe">
                        <img src="images/EditarInforme/Descartar.png" class="circle-max-width" />
                            <span class="green-text">Descartar</span>
                        </a>
                        <button type="submit" class="d-flex border-0 bg-transparent justify-content-center row text-center" title="Guadar el borrador">
                            <img src="images/EditarInforme/Guardar-Borrador.png" class="circle-max-width" />
                            <span class="green-text">Guardar Borrador</span>
                        </button>
                            <a class="d-flex justify-content-center row text-center mouse-pointer" @onclick="() => ClickHandlerFinalizarInforme(true)" title="Finalizar el informe">
                        <img src="images/EditarInforme/Aprobar.png" class="circle-max-width" />
                            <span class="green-text">Aprobar</span>
                        </a>
                        <a class="d-flex justify-content-center row text-center mouse-pointer" @onclick="ActivarAdvertenciaEnviar" title="Enviar correos a usuarios de clientes">
                        <img src="images/EditarInforme/Enviar-a-cliente.png" class="circle-max-width"/>
                            <span class="green-text">Enviar al cliente</span>
                        </a>
                    </div>
                </div>
            </div>
            </div>
             </EditForm>
    <ModalObservaciones ActivarModal="@activarModalObservaciones" OnClose="ClickHandlerObservaciones" esquema="@esquema" consecutivo="@Consecutivo" usuarioActual="@usuarioActual" observacionAgregada="ObservacionNuevaAgregada" observacionCancelada="ObservacionNuevaCancelada"></ModalObservaciones>
    
    
@if (elementos1.Any())
{
    <ScriptMaxHeightExtraContainer Contenido=".max-height-col" Contenedor=".table-gray-left" Elementos="@elementos1"></ScriptMaxHeightExtraContainer>
}
@if (elementos2.Any())
{
    <ScriptMaxHeightExtraContainer Contenido=".max-height-col-activity" Contenedor=".content-behind-bottom" Elementos="@elementos2"></ScriptMaxHeightExtraContainer>
                }
@if (activarModalAgregarUsuario)
{
<AgregarUsuarioInforme ActivarModal="@activarModalAgregarUsuario" OnClose="ClickHandlerAgregarUsuario" Consecutivo="@Consecutivo" listaDeUsuariosParaAgregar="@listaDeUsuariosParaAgregar"></AgregarUsuarioInforme>
}
@if(activarModalAgregarActividad){
<AgregarActividadInforme ActivarModal="@activarModalAgregarActividad" OnClose="ClickHandlerAgregarActividad" Consecutivo="@Consecutivo" listaActividadesParaAgregar="@listaActividadesParaAgregar" listaTodosLosUsuarios="@listaTodosLosUsuarios"></AgregarActividadInforme>
}
<DesactivarEnterSubmit IdForm="ActividadesForm"></DesactivarEnterSubmit>
            }else if(informe.estado == "Finalizado" || informe.estado == "Inactivo"){
                navigationManager.NavigateTo($"Informe/VerInforme/" + informe.consecutivo);
            }

        }
        else
        {
            <RutaErronea mensaje="Este informe no pertenece a su cliente asociado"></RutaErronea>
        }
    }
    else
    {
        <RutaErronea mensaje="@mensajeConsecutivo"></RutaErronea>
    }
}
else
{
    <Loading></Loading>
}
