@inject IObservacionesInterface ObservacionesService
@inject IUsuariosInterface UsuariosService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div id='modal' class='modal' style='display: @(ActivarModal ? "block" : "none")'>
    <div class="modal-content bg-light">
        <div class="text-end pe-2" @onclick="SalirConLaX">
            <i class="fa-regular fa-circle-xmark fa-lg mouse-pointer"></i>
        </div>
        <EditForm Model="@observacionAAgregar" OnValidSubmit="AgregarObservacionDeInforme">
        <div class="modal-header d-flex justify-content-center blue-dark-text">
            <h2>Observaciones</h2>
            
        </div>
        
        @if (!string.IsNullOrEmpty(mensajeError))
        {
            <MensajeParaModales Message="@mensajeError"></MensajeParaModales>
        }
        <div class=" modal-body d-flex text-center bg-light ">
            <div class="container">
                <div>
                   
                <ObjectGraphDataAnnotationsValidator />
                    <span class="text-success">Agregar Observación</span>
                    <div class="mb-3">
                        <textarea class="form-control border-success rounded-3 text-success" type="text" @bind="@observacionAAgregar.observacion" @oninput="CambioObservacion"></textarea>
                    </div>
                     <ValidationMessage For="@(() => observacionAAgregar.observacion)" />
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" @onclick="() => CancelarCambios()" class="rounded-pill border border-primary blue-dark-bg text-light" id="descartar-clientes" title="Cancelar Cambios">Cancelar</button>
            <button type="submit" class="border-success rounded-pill button-add green-bg text-light" title="Agregar Observación">Agregar</button>
        </div>
        </EditForm>
    </div>
</div>

