@inject IUsuariosInterface UsuariosService
@inject IPermisosInterface PermisosService
@inject IClientesInterface ClientesService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject ILicenciasInterface LicenciasService
@inject IAlertasInterface AlertasService
@inject SweetAlertService Swal;
@inject IJSRuntime JSRuntime

@if (cargaInicial)
{
    @if (permisos.Any(p => p.permiso == "Usuarios" && p.subpermisos.Contains("Ver Lista")))
    {
        <div class="el-layout">
            <Layout Texto="RecibirTexto"></Layout>
        </div>
        
        <div class="width-content">
            <div class=" d-flex row g-2 text-center ">
                <div class="container mt-1 border-transparent">

                    <div class="card-header row blue-dark-text text-16-medium" id="headings-proyects">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <label class=" text-center w-100">Código</label>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <label class=" text-center w-100">Usuario</label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <label class="pe-1 text-center w-100">Correo</label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <label class="pe-3 text-center w-100">Nombre</label>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <label class="pe-5 text-center w-100">Rol</label>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <label class="pe-3 text-center w-100">Acción</label>
                        </div>
                    </div>
                    <div class="max-height-users overflow-y-auto overflow-x-hidden scrollbar-modal-users">
                        @if (usuarios.Any())
                        {
                            var listaDeUsuarios = usuarios.OrderBy(u => u.codigo).ToList();
                            if (!string.IsNullOrEmpty(textoRecibido))
                            {
                                // Filtrar la lista de clientes por el nombre que contenga el texto de búsqueda
                                listaDeUsuarios = listaDeUsuarios.Where(usuario =>
                                usuario.nombre.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                usuario.correo.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                usuario.usuario.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0
                                ).ToList();
                            }
                            @foreach (var usuario in listaDeUsuarios)
                            {
                                <div class="card-header row blue-dark-text mb-3 mt-3 text-16-book">
                                    <div class="mb-0 col-md-2 col-sm-2 col-xs-2">
                                        <label class="w-100 text-center">@usuario.codigo</label>
                                    </div>
                                    <div class="mb-0 col-md-2 col-sm-2 col-xs-2">
                                        <label class="w-100 text-start">@usuario.usuario</label>
                                    </div>
                                    <div class="mb-0 col-md-3 col-sm-3 col-xs-3">
                                        <label class="w-100 text-start texto-puntos-suspensivos" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@usuario.correo">@usuario.correo</label>
                                    </div>
                                    <div class="mb-0 col-md-3 col-sm-3 col-xs-3">
                                        <label class="w-100 text-start">@usuario.nombre</label>
                                    </div>
                                    <div class="mb-0 col-md-1 col-sm-1 col-xs-1">
                                        <label class="w-100 text-center">@usuario.rol</label>
                                    </div>
                                    <div class="mb-0 col-md-1 col-sm-1 col-xs-1 mouse-pointer">
                                        <div class="dropdown font-10 w-100">
                                            <button class="text-light green-bg border-success rounded-pill px-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="hide-on-small">Acción</span>
                                            </button>
                                            <ul class="dropdown-menu text-center dropdown-menu-lg-end">
                                                <li>
                                                    <a class="dropdown-item mouse-pointer" href="configuraciones/usuario/editar/@usuario.codigo"  title="Ir a editar el usuario @usuario.usuario">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item mouse-pointer" @onclick='() => SwalEliminarUsuario("¿Está seguro de eliminar el usuario con el código " + usuario.codigo + "?", usuario.codigo)' title="Eliminar el Usuario @usuario.usuario">
                                                        <i class="mx-2 fa-solid fa-x text-danger"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
            <div class="footer-users text-13-medium">
                @if (licencia.CantidadUsuarios <= usuarios.Count)
                {
                    <a @onclick="MensajeLimiteUsuarios" class="mouse-pointer rounded-pill border border-success green-dark-bg text-light button-footer mx-5" id="agregar-usuarios" title="Ir a agregar usuario">
                        Agregar
                        Usuario
                    </a>
                }
                else
                {
                    <a href="configuraciones/usuario/agregar" class="mouse-pointer rounded-pill border border-success green-dark-bg text-light button-footer mx-5" id="agregar-usuarios" title="Ir a agregar usuario">
                        Agregar
                        Usuario
                    </a>
                }
                
            </div>

        </div>
       
    }
    else
    {
        <RutaErronea mensaje="No tienes los permisos suficientes para entrar a esta página"></RutaErronea>
    }
    <ScriptMaxHeight Contenido=".max-height-users" Elemento1=".el-layout" Elemento2=".footer-users" Elemento3=".card-header"></ScriptMaxHeight>
}
else
{
    <Loading></Loading>
}