@page "/Informes/HistorialDeInformes"
@inject IUsuariosInterface UsuariosService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IInformesInterface InformesService
@inject IClientesInterface ClientesService
@inject IActividadesInterface ActividadesService
@inject IObservacionesInterface ObservacionesService
@inject NavigationManager navigationManager
@inject IReportesInterface ReportesService
@inject IDepartamentosInterface DepartamentosService
@inject IReportesInterface ReportesService
@inject IJSRuntime JSRuntime
@inject SweetAlertService Swal;
@inject IAlertasInterface AlertasService
@attribute [Authorize]
<AuthorizeView>
    <Authorized>


<div class="el-layout">
    <Layout></Layout>
</div>
<div class="div-contenedor">



    <div class="mt-3">


        <div class="row contenedor-cols">


            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="d-flex">

                    <div class="vertical-text text-light">
                        <span class="">Historial</span>
                    </div>

                    <div class="w-100">
                         <div class="d-flex justify-content-start align-items-center header-informes">
                            <div class="d-flex justify-content-start align-items-center div-search m-2">
                            <button class="search-icon text-light d-flex align-items-center justify-content-center">
                                <img src="images/Home/Buscador.png" width="25"/>
                            </button>
                             <BuscarInforme Texto="RecibirTexto"></BuscarInforme>
                            </div>
                            <div class="d-flex justify-content-center align-items-center blue-light-text">
                                <span class="mx-2">Filtro:</span>
                                <span>Desde</span>
                                <input class="mx-2 input-date text-light text-center" type="date" @bind="@fechaInicioDateTime" @oninput="CambioFechaInicio"/>
                                <span>Hasta</span>
                                <input class="ms-2 input-date text-light text-center" type="date" @bind="@fechaFinalDateTime" @oninput="CambioFechaFinal"/>
                            </div>
                        </div>
                        
                        @if (listaDeInformesFinalizados.Any())
                        {
                            var informesFinalizados = listaDeInformesFinalizados.Where(informe =>
                                informe.FechaConsultoriaDateTime >= fechaInicioDateTime &&
                                informe.FechaConsultoriaDateTime <= fechaFinalDateTime
                            ).OrderBy(i => i.FechaConsultoriaDateTime).ToList();
                            if (!string.IsNullOrEmpty(textoRecibido))
                            {
                                // Filtrar la lista de clientes por el nombre que contenga el texto de búsqueda
                                informesFinalizados = informesFinalizados.Where(informe =>
                                informe.fecha_consultoria.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                informe.consecutivo.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                informe.nombre_cliente.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                informe.nombre_consultor.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0
                                ).ToList();
                            }
                            <div class="overflow-y-auto overflow-x-hidden scrollbar-report scrollbar-max-height">
                            @foreach (var informe in informesFinalizados)
                            {
                                <div class="row font-10 mouse-pointer @informe.informeSeleccionado blue-light-text" @onclick="() => cambioSeleccion(informe.consecutivo)">
                                    <div class="col-md-3 col-sm-3 col-xs-3 text-light height-col d-flex align-items-center @informe.informeSeleccionado @informe.imagenSeleccionada">
                                            @if (informe.imagen_cliente != null && !informe.imagen_cliente.SequenceEqual(new byte[] { 0x00 }))
                                            {
                                                <img src="data:image/png;base64,@Convert.ToBase64String(informe.imagen_cliente)" width="70" height="70" alt="Imagen" />
                                            }
                                            else
                                            {
                                                <img alt="" />
                                            }
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 height-col d-flex align-items-center">
                                        <span class="mouse-pointer color-change-consecutivo" @onclick="() => VerInforme(informe.consecutivo)">#@informe.consecutivo</span>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 height-col d-flex align-items-center">
                                        <span>@informe.fecha_consultoria</span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 height-col d-flex align-items-center">
                                        <span>@informe.nombre_cliente</span>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 height-col d-flex align-items-center">
                                        <span>@informe.nombre_consultor</span>
                                    </div>
                                </div>
                            }
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="ps-5 col-right-bg d-flex justify-content-start align-items-center row">
                    <div class="col-md-4 col-sm-4 col-xs-4 col-right-bg ">
                        <div class="reenviar-cliente imagen-div mouse-pointer" @onclick="() => ClickHandleEnviarCorreo(true)">
                            <span class="me-4 span-report">REENVIAR A CLIENTE</span>
                        </div>
                        <div class="generar-cotizacion imagen-div">
                            <span class="me-4 span-report">GERNERAR COTIZACIÓN</span>
                        </div>
                        <div class="generar-reporte imagen-div mouse-pointer" @onclick="SwalDescargandoReporte">
                            <span class="me-4 span-report ">GENERAR REPORTE</span>
                        </div>
                        <div class="facturar imagen-div">
                            <span class="me-4 span-report">FACTURAR</span>
                        </div>
                        <div class="historial-informes imagen-div mouse-pointer" @onclick="IrAMisInformes">
                            <span class="me-4 span-report">MIS INFORMES</span>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <div class="footer-vacio"></div>
    </div>
</div>
        @if (!string.IsNullOrEmpty(informeAsociadoSeleccionado.consecutivo))
        {
            <EnviarCorreoInforme ActivarModal="@activarModalEnviarCorreo" enviarListaCorreosExtras="RecibirListaCorreosExtras" OnClose="ClickHandleEnviarCorreo"></EnviarCorreoInforme>
        }
        <ScriptMaxHeight Contenido=".scrollbar-max-height" Elemento1=".el-layout" Elemento2=".footer-vacio" Elemento3=".header-informes"></ScriptMaxHeight>
    </Authorized>
</AuthorizeView>