@inject IInformesInterface InformesService
@inject IClientesInterface ClientesService
@inject IActividadesInterface ActividadesService
@inject IUsuariosInterface UsuariosService
@inject IObservacionesInterface ObservacionesService
@inject IDepartamentosInterface DepartamentosService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject IJSRuntime JS
@inject SweetAlertService Swal;
@if(cargaInicial){
@if(string.IsNullOrEmpty(mensajeConsecutivo)){
@if (informe.estado == "Finalizado")
{   <div class="el-layout">
    <Layout></Layout>
    </div>
    

    <div class="container-fluid p-2 pe-5 ps-5 body-edit">
        @if (successMessage != null)
        {
            <ModalExito mensaje="@successMessage"></ModalExito>
        }
        <div class="row">
            <div class="col-md-6">
                        <div class="row p-2 header-col-left">
                        @if (!string.IsNullOrEmpty(informe.consecutivo))
                        {
                            <div class="col-md-6 d-flex row text-start">
                                <div>
                                    <span class="blue-dark-text font-23-medium">Fecha: </span><span class="green-text font-19-bold border-0 w-50">@informe.fecha_consultoria</span>
                                   
                                </div>

                                <div>
                                    <span class="blue-dark-text font-23-medium">Cliente: </span>
                                    <select value="@ClienteAsociado.NOMBRE" class="green-text border-0 w-50 font-19-bold">
                                        <option value="@ClienteAsociado.NOMBRE">@ClienteAsociado.NOMBRE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex row text-start">
                                <div>
                                    <span class="blue-dark-text font-23-medium">Hora de Inicio: </span><span class="green-text width-time border-0 font-19-bold">@informe.hora_inicio.Substring(0, 5) hs</span>
 
                                </div>

                                <div>
                                <span class="blue-dark-text font-23-medium">Hora de Fin: </span><span class="green-text width-time border-0 font-19-bold">@informe.hora_final.Substring(0, 5) hs</span>
                                  
                                </div>
                            </div>

                          
                        }

                    </div>
                <div class="table-gray-left rounded-start-5">
                    <div class="row content">
                        <div class="row text-center p-2 blue-light-text font-20-book">
                            <div class="col-md-2">
                                <span class="ms-3">NOMBRE</span>
                            </div>
                            <div class="col-md-3">
                                <span>DEP.</span>
                            </div>
                            <div class="col-md-2">
                                <span>ROL</span>
                            </div>
                            <div class="col-md-3">
                                <span>CORREO</span>
                            </div>
                            <div class="col-md-1">
                                <span>ACEPT.</span>
                            </div>
                            <div class="col-md-1">
                                
                            </div>
                        </div>
                        <div class="overflow-y-auto overflow-x-hidden max-height-col scrollbar-report">
                            @if (listadeDatosUsuariosDeClienteDeInforme != null)
                            {

                                foreach (var usuario in listadeDatosUsuariosDeClienteDeInforme)
                                {
                                    <div class="row p-2 text-center font-14-book">
                                     <div class="col-md-2">
                                        <span>@usuario.nombre_usuario</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span>@usuario.departamento_usuario</span>
                                    </div>
                                    <div class="col-md-2">
                                        <span>@usuario.rol_usuario</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="break-line">@usuario.correo_usuario</span>
                                    </div>
                                        <div class="col-md-1 pt-0 mt-0">

                                                    @if (usuario.aceptacion == "1")
                                                    {

                                                        <input type="checkbox" class="custom-checkbox" id="myCheckbox @usuario.id" checked disabled>
                                                        <label class="label-transparent" for="myCheckbox @usuario.id">.</label>

                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="custom-checkbox" id="myCheckbox @usuario.id" disabled>
                                                        <label class="label-transparent" for="myCheckbox @usuario.id">.</label>
                                                    }

                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
                        <div class="d-flex row justify-content-center align-items-center text-center div-observaciones">
                            <span class="green-text font-19-bold">Observaciones</span>
                            <div class="observation row max-height-observation overflow-y-auto overflow-x-hidden scrollbar-report mb-1">
                                @if (listaDeObservaciones.Any())
                                {
                                    @foreach (var observacion in listaDeObservaciones)
                                    {
                                        <div class="col-md-2 border-green @(EsLaPrimeraObservacion(observacion) ? "border-inicio-izquierda" : "") @(EsLaUltmaObservacion(observacion) ? "border-final-izquierda" : "")">
                                            <span class="break-line">@observacion.nombre_usuario</span>
                                        </div>
                                        <div class="col-md-10 border-green text-start @(EsLaPrimeraObservacion(observacion) ? "border-inicio-derecha" : "") @(EsLaUltmaObservacion(observacion) ? "border-final-derecha" : "")">
                                            <span class="break-line">@observacion.observacion</span>
                                        </div>
                                    }
                                }
                            </div>
                            <div class=" observation border border-success rounded-5 green-text d-flex align-items-center justify-content-center mouse-pointer p-2" @onclick="() => ClickHandlerObservaciones(true)">
                                <span>+ Observaciones</span>
                            </div>
                        </div>


            </div>
            <div class="col-md-6">
                <div class="p-2 d-flex justify-content-between align-items-center header-col-right">
                    <span class="blue-dark-text font-23-medium">Informe #@informe.consecutivo</span>
                    <select @bind="informe.modalidad_consultoria" class="green-text border-0 font-23-medium">
                        <option value="@informe.modalidad_consultoria">@informe.modalidad_consultoria</option>
                    </select>
                </div>

                <div class="content text-light">

                    <div class="row blue-light-bg pe-0 ps-0 ms-0 content-behind rounded-bottom-5">
                        <div class="table-right blue-dark-bg content-behind content-behind-bottom">
                            <div class="ps-0 ms-0 ">
                                <div class="row text-center p-2 pt-4 blue-dark-bg ms-0 content-behind font-20-book">
                                    <div class="col-md-4">
                                        <span>ACTIVIDAD</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>HS COBRADAS</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>HS NO COBRADAS</span>
                                    </div>
                                </div>
                                <div class="overflow-y-auto overflow-x-hidden max-height-col-activity scrollbar-report ">
                                  
                                        @if (listaActividadesAsociadas != null)
                                        {

                                            @foreach (var actividad in listaActividadesAsociadas)
                                            {
                                                <div class="row p-2 text-center ms-0 font-14-book">
                                                    <div class="col-md-4">
                                                        <select @bind="@actividad.codigo_actividad" class="border-0 bg-transparent text-light">
                                                            @foreach (var laActividad in listaActividades)
                                                            {
                                                            @if (laActividad.codigo == actividad.codigo_actividad)
                                                            {
                                                                <option value="@laActividad.codigo" class="blue-light-bg">
                                                                    @laActividad.Actividad
                                                                </option>
                                                             }
                                                            }
                                                        </select>
                                                       
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span class="border-0 bg-transparent width-input text-light">@actividad.horas_cobradas horas</span>
                                                      
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span class="border-0 bg-transparent width-input text-light">@actividad.horas_no_cobradas horas</span>
                                                        
                                                    </div>
                                                  
                                                </div>
                                            }
                                        }
                  
                       
                                </div>
                            </div>
                        </div>
                        <div class="row p-4 ms-0 text-center blue-light-bg rounded-bottom-5 font-14-book footer-horas">
                            <div class="col-md-4">
                                <span>Total de Horas</span>
                            </div>
                            <div class="col-md-4">
                                <span>@total_horas_cobradas</span>
                                <span>horas</span>
                            </div>
                            <div class="col-md-4">
                                <span>@total_horas_no_cobradas</span>
                                <span>horas</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="p-2 green-text d-flex justify-content-center m-3 font-11-medium footer-col-right">
                    <div class="d-flex justify-content-center row text-center mouse-pointer" @onclick='() => SwalAdvertencia("¿Está seguro de eliminar el informe actual?", "Informe", Consecutivo)'>
                        <img src="images/EditarInforme/Descartar.png" class="circle-max-width" />
                        <span>Descartar</span>
                    </div>
                    <div class="d-flex justify-content-center row text-center mouse-pointer" data-toggle="tooltip" data-placement="top" title="El informe ya no se puede editar" @onclick="ActivarAdvertenciaGuardar">
                        <img src="images/EditarInforme/Guardar-Borrador.png" class="circle-max-width" />
                        <span>Guardar Borrador</span>
                    </div>
                    <div class="d-flex justify-content-center row text-center mouse-pointer" data-toggle="tooltip" data-placement="top" title="El informe ya fue Finalizado" @onclick="ActivarAdvertenciaFinalizar">
                        <img src="images/EditarInforme/Aprobar.png" class="circle-max-width" />
                        <span>Aprobar</span>
                    </div>
                    <div class="d-flex justify-content-center row text-center mouse-pointer" @onclick="EnviarCorreosAClientes">
                        <img src="images/EditarInforme/Enviar-a-cliente.png" class="circle-max-width" />
                        <span>Enviar al cliente</span>
                    </div>
                    @if (correoEnviado != null)
                    {
                       if(correoEnviado == "Error")
                        {
                            <ModalError mensaje="Ocurrió Un error vuelva a intentarlo"></ModalError>           
                        }else{
                            <ModalExito mensaje="@correoEnviado"></ModalExito>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
  <ModalObservaciones ActivarModal="@activarModalObservaciones" OnClose="ClickHandlerObservaciones" esquema="@esquema" consecutivo="@Consecutivo" usuarioActual="@usuarioActual" observacionAgregada="CambiarEstadoObservacionNueva" observacionCancelada="CambiarEstadoObservacionCancelada"></ModalObservaciones>
    @if(estadoObseracionNueva){
        <ModalExito mensaje="Se ha agregado la observación"></ModalExito>
    }
    @if(estadoObservacionCancelada){
        <ModalInfo mensaje="Se han descartado los cambios"></ModalInfo>
    }
    @if(advertenciaFinalizarInforme){
        <ModalAdvertencia mensaje="El informe ya fue finalizado antes"></ModalAdvertencia>
    }
    @if(advertenciaGuardarInforme){
        <ModalAdvertencia mensaje="El informe fue finalizado y no se puede editar"></ModalAdvertencia>
    }
    @if (todosLosUsuariosAprobados)
    {
        <ModalInfo mensaje="Todos los usuarios ya aprobaron el informe seleccionado"></ModalInfo>
    }
            
       
        
            @if (elementos1.Any())
            {
                <ScriptMaxHeightExtraContainer Contenido=".max-height-col" Contenedor=".table-gray-left" Elementos="@elementos1"></ScriptMaxHeightExtraContainer>
            }
            @if (elementos2.Any())
            {
                <ScriptMaxHeightExtraContainer Contenido=".max-height-col-activity" Contenedor=".content-behind-bottom" Elementos="@elementos2"></ScriptMaxHeightExtraContainer>
            }
        }
        else if (informe.estado == "Borrador")
        {
            navigationManager.NavigateTo($"Informe/Editar/" + informe.consecutivo);
        }

    }
    else
    {
        <RutaErronea mensaje="@mensajeConsecutivo"></RutaErronea>
    }
}
else
{
    <div class="loader">
        <p class="heading">Loading</p>
        <div class="loading">
            <div class="load"></div>
            <div class="load"></div>
            <div class="load"></div>
            <div class="load"></div>
        </div>
    </div>
}