@page "/Configuraciones"
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILicenciasInterface LicenciasService
@inject IClientesInterface ClientesService
@inject IUsuariosInterface UsuariosService
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
        @if (cargaInicial)
        {

                <Layout></Layout>
                @if(licencia != null)
                {
                    <div class="d-flex m-3 p-3 row blue-light-text border border-success rounded-pill">
                        <h4>Información de Licencia</h4>
                        @if (!string.IsNullOrEmpty(codigoLicencia))
                        {
                            <div class="col-md-4">
                                <label for="licencia-codigo">Código: <span id="licencia-codigo" class="text-black">@codigoLicencia</span></label>
                            </div>
                        }
                        <div class="col-md-4">
                            <label for="licencia-fechaInicio">Fecha Inicio: <span id="licencia-fechaInicio" class="text-black">@licencia.FechaInicio</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="licencia-fechaVencimiento">Fecha Vencimiento: <span id="licencia-fechaVencimiento" class="text-black">@licencia.FechaFin</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="licencia-fechaAviso">Fecha Aviso: <span id="licencia-Aviso" class="text-black">@licencia.FechaAviso</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="licencia-cantidadUsuarios">Cantidad Usuarios: <span id="licencia-cantidadUsuarios" class="text-black">@licencia.CantidadUsuarios</span></label>
                        </div>
                            <div class="col-md-4">
                                <label for="licencia-nombreCliente">Nombre Cliente: <span id="licencia-nombreCliente" class="text-black">@licencia.NombreCliente</span></label>
                            </div>
                        
    
                            <div class="col-md-4">
                                <label for="licencia-contribuyente">Cédula Jurídica: <span id="licencia-contribuyente" class="text-black">@licencia.CedulaJuridica</span></label>
                            </div>
                        

                            <div class="col-md-4">
                                <label for="licencia-pais">País: <span id="licencia-pais" class="text-black">@licencia.Pais</span></label>
                            </div>
                        
                    </div>
                }
                <div class="d-flex mx-3 row blue-light-text mt-3">

                    @if (permisos.Any(p => p.permiso == "Actividades"))
                    {
                        <div class="col-md-4 m-1 border border-success rounded-pill d-flex justify-content-center align-items-center users-div">
                            <a class="btn button-usuarios text-light border-success rounded-pill mouse-pointer" href="Configuraciones/Actividades" title="Ir a la lista de Actividades">Actividades</a>
                        </div>
                    }
                    @if (permisos.Any(p => p.permiso == "Departamentos"))
                    {
                        <div class="col-md-4 m-1 border border-success rounded-pill d-flex justify-content-center align-items-center users-div">
                            <a class="btn button-usuarios text-light border-success rounded-pill mouse-pointer" href="Configuraciones/Departamentos" title="Ir a la lista de Departamentos">Departamentos</a>
                        </div>
                    }
                    @if (permisos.Any(p => p.permiso == "Usuarios"))
                    {
                        <div class="col-md-4 m-1 border border-success rounded-pill d-flex justify-content-center align-items-center users-div">
                            <a class="btn button-usuarios text-light border-success rounded-pill mouse-pointer" href="Configuraciones/Usuarios" title="Ir a la lista de Usuarios">Usuarios</a>
                        </div>
                    }
                    
                </div>
                


        }
        else
        {
            <Loading></Loading>
        }

    </Authorized>
</AuthorizeView>

