@inject IProyectosInterface ProyectosService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IItemsClienteInterface ItemsClienteService

<div id="modal" class="modal" style='display: @(ActivarModal ? "block" : "none")'>
    <div class="modal-content bg-light">
        <EditForm Model="@proyecto" OnValidSubmit="AgregarProyecto">
            <ObjectGraphDataAnnotationsValidator />
            <div class="modal-header d-flex justify-content-center text-primary">
                <h2 class="blue-dark-text text-41-book">Agregar Proyecto <img class="mb-3" src="images/Proyectos/Icono-Proyectos.png" /></h2>
            </div>

            <div class=" modal-body d-flex row g-2 text-center bg-light ">
                <div class="container mt-5 border-transparent max-height-project overflow-y-auto overflow-x-hidden scrollbar-modal-projects">
                    <div class="row  border border-success rounded-5 my-3">
                        <div class="d-flex justify-content-center mb-2 mt-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-consultor">Nombre Consultor:</label>
                            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-consultor" @bind-value="proyecto.nombre_consultor" @oninput="CambioNombreConsultor" />
                        </div>
                        <ValidationMessage For="@(() => proyecto.nombre_consultor)" />
                        <div class="d-flex justify-content-center mb-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-fechaInicial">Fecha Inicial:</label>
                            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="date" id="c-fechaInicial" @bind-value="proyecto.FechaInicialDateTime" @oninput="CambioFechaInicial" />
                        </div>
                        <ValidationMessage For="@(() => proyecto.FechaInicialDateTime)" />
                        <div class="d-flex justify-content-center mb-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-fechaFinal">Fecha Final:</label>
                            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="date" id="c-fechaFinal" @bind-value="proyecto.FechaFinalDateTime" @oninput="CambioFechaFinal" />
                        </div>
                        <ValidationMessage For="@(() => proyecto.FechaFinalDateTime)" />
                        <div class="d-flex justify-content-center mb-2 mt-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-horasTotales">Horas Totales:</label>
                            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-horasTotales" @bind-value="proyecto.horas_totales" @oninput="CambioHorasTotales" />
                        </div>
                        <ValidationMessage For="@(() => proyecto.horas_totales)" />
                        <div class="d-flex justify-content-center mb-2 mt-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-empresa">Empresa:</label>
                            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-empresa" @bind-value="proyecto.empresa" @oninput="CambioEmpresa" />
                        </div>
                        <ValidationMessage For="@(() => proyecto.empresa)" />
                        <div class="d-flex justify-content-center mb-2 mt-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-centroCosto">Centro de Costo:</label>
                            <select class="col-md-4 border border-success rounded-pill px-2 text-input" @bind="proyecto.centro_costo" id="c-centroCosto" @oninput="CambioCentroCosto">
                                <option value="">Seleccione el Centro de Costo</option>
                                @if (listaCentrosDeCosto.Any())
                                {
                                    foreach (var centro in listaCentrosDeCosto)
                                    {
                                        <option value="@centro.valor">@centro.descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                        <ValidationMessage For="@(() => proyecto.centro_costo)" />
                        <div class="d-flex justify-content-center mb-2 mt-2">
                            <label class="col-md-4  blue-dark-text label-text" for="c-nombreProyecto">Nombre de Proyecto:</label>
                            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-nombreProyecto" @bind-value="proyecto.nombre_proyecto" @oninput="CambioNombreProyecto" />
                        </div>
                        <ValidationMessage For="@(() => proyecto.nombre_proyecto)" />
                    </div>
                </div>
            </div>
            <div class="modal-footer text-13-medium">
                <button @onclick="() => CloseModal()" class="rounded-pill border border-primary blue-dark-bg text-light mx-4" id="descartar-agregar-proyectos">
                    Descartar
                    cambios
                </button>
                <button type="submit" class="rounded-pill border border-input-gray green-bg text-light mx-4" id="guardar-agregar-proyectos">
                    Guardar
                    cambios
                </button>
            </div>
        </EditForm>
    </div>
</div>