@page "/proyectos/terminados"


@inject IProyectosInterface ProyectosService
@inject IItemsClienteInterface ItemsClienteService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject IClientesInterface ClientesService
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
        @if (cargaInicial)
        {
            @if (permisos.Any(p => p.permiso == "Proyectos"))
            {

                <div class="el-layout">
                    <Layout Texto="RecibirTexto"></Layout>
                </div>

                <div class="width-content">
                    <div class=" d-flex row g-2 text-start ">
                        <div class="container mt-1 border-transparent">

                            <div class="card-header row blue-dark-text text-16-medium" id="headings-proyects">
                                <div class="col-md-1">
                                    <label class="text-start w-100"># de Proyecto</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="pe-4 text-start w-100">Nombre de Proyecto</label>
                                </div>
                                <div class="col-md-2">
                                    <label class=" text-start w-100">Nombre de la empresa</label>
                                </div>
                                <div class="col-md-2">
                                    <label class=" text-start w-100">Nombre del Consultor</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="pe-1 text-start w-100">Fecha Inicial</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="pe-3 text-start w-100">Fecha Final</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="pe-2 text-start w-100">Horas Totales</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="pe-4 text-start w-100">Centro de Costo</label>
                                </div>
                                
                                
                            </div>
                            <div class="max-height-projects overflow-y-auto overflow-x-hidden scrollbar-modal-projects">
                                @if (proyectos != null)
                                {
                                    var listaDeProyectos = proyectos;
                                    listaDeProyectos = listaDeProyectos.OrderByDescending(p => p.numero).ToList();
                                    if (!string.IsNullOrEmpty(textoRecibido))
                                    {
                                        // Filtrar la lista de clientes por el nombre que contenga el texto de búsqueda
                                        listaDeProyectos = listaDeProyectos.Where(proyecto =>
                                        proyecto.nombre_proyecto.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                        listaCentrosDeCosto.Any(cc => cc.descripcion.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 && proyecto.centro_costo == cc.valor) ||
                                        listaDeClientes.Any(c => c.NOMBRE.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 && proyecto.codigo_cliente == c.CLIENTE)
                                        ).ToList();
                                    }
                                    @foreach (var proyecto in listaDeProyectos)
                                    {
                                        <div class="card-header row text-secondary mb-3 mt-3 text-16-book">
                                            <div class="mb-0 col-md-1 text-center">
                                                <span class="w-100 ">@proyecto.numero</span>

                                            </div>
                                            <div class="mb-0  col-md-2">
                                                <span class="w-100 text-start">@proyecto.nombre_proyecto</span>

                                            </div>
                                            <div class="mb-0 col-md-2">

                                                <span class="w-100 text-start">@proyecto.nombre_cliente</span>



                                            </div>
                                            <div class="mb-0 col-md-2">

                                                <span class="w-100 text-start">@proyecto.nombre_consultor</span>
                                            </div>
                                            <div class="mb-0 col-md-1 text-center">
                                                <span class="w-100 ">@proyecto.fecha_inicial</span>

                                            </div>
                                            <div class="mb-0  col-md-1 text-center">
                                                <span class="w-100">@proyecto.fecha_final</span>

                                            </div>
                                            <div class="mb-0  col-md-1 text-center">
                                                <span class="w-100">@proyecto.horas_totales</span>

                                            </div>
                                            <div class="mb-0  col-md-2">
                                                <span class="w-100 text-start">@proyecto.descripcion_centro_costo</span>

                                            </div>
                                           

                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                    <div class="footer-project text-13-medium">
                        <div @onclick="IrAProyectosIniciados" class="mouse-pointer rounded-pill border border-success green-add-bg text-light button-footer mx-5" id="proyectos-iniciados">
                            Proyectos
                            Iniciados
                        </div>
                    </div>

                </div>


            }
            else


            {
                <ModalError mensaje="No tienes los permisos suficientes para entrar a esta página"></ModalError>
            }
            <ScriptMaxHeight Contenido=".max-height-projects" Elemento1=".el-layout" Elemento2=".footer-project" Elemento3=".card-header"></ScriptMaxHeight>
        }
        else
        {
            <div class="loader">
                <p class="heading">Loading</p>
                <div class="loading">
                    <div class="load"></div>
                    <div class="load"></div>
                    <div class="load"></div>
                    <div class="load"></div>
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>
