

@inject IProyectosInterface ProyectosService
@inject IUsuariosInterface UsuariosService
@inject IItemsClienteInterface ItemsClienteService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject IClientesInterface ClientesService
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject SweetAlertService Swal;
@inject IAlertasInterface AlertasService
@if (cargaInicial)
{
    @if (permisos.Any(p => p.permiso == "Proyectos" && p.subpermisos.Contains("Ver Lista")))
    {

        <div class="el-layout">
            <Layout Texto="RecibirTexto"></Layout>
        </div>
        
        <div class="width-content">
            <EditForm Model="@proyectos" OnValidSubmit="SwalActualizandoProyectos" OnInvalidSubmit="InvalidSubmit">
                <ObjectGraphDataAnnotationsValidator />

                
                <div class=" d-flex row g-2 text-center ">
                    <div class="container mt-1 border-transparent">

                        <div class="card-header row blue-dark-text text-13-medium" id="headings-proyects">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="text-center w-100" ># de Proyecto</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="pe-4 text-center w-100">Nombre Proyecto</label>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <label class=" text-center w-100" >Nombre de la empresa</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class=" text-center w-100">Responsable</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="pe-2 text-center w-100">Consultor</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="pe-3 text-center w-100" >Fecha Inicial</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="pe-4 text-center w-100" >Fecha Final</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="pe-4 text-center w-100" >Horas Totales</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="pe-4 text-center w-100" >Centro Costo</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="pe-5 text-center w-100">Estado</label>
                            </div>
                           
                        </div>
                        <div class="max-height-projects overflow-y-auto overflow-x-hidden scrollbar-modal-projects">
                            @if (proyectos != null)
                            {
                                var listaDeProyectos = proyectos.OrderByDescending(p => p.numero).ToList();
                                if (!string.IsNullOrEmpty(textoRecibido))
                                {
                                    // Filtrar la lista de clientes por el nombre que contenga el texto de búsqueda
                                    listaDeProyectos = listaDeProyectos.Where(proyecto =>
                                    proyecto.nombre_proyecto.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                    listaCentrosDeCosto.Any(cc => cc.descripcion.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 && proyecto.centro_costo == cc.valor) ||
                                    listaDeClientes.Any(c => c.NOMBRE.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 && proyecto.codigo_cliente == c.CLIENTE)
                                    ).ToList();
                                }
                                @foreach (var proyecto in listaDeProyectos)
                                {
                                    <div class="card-header row text-secondary mb-3 mt-3 text-16-book">
                                        <div class="mb-0 col-md-1 col-sm-1 col-xs-1">

                                            <input class="w-100 text-center border-input-gray rounded-pill" type="text" @bind-value="@proyecto.numero" readonly>


                                        </div>
                                        <div class="mb-0  col-md-1 col-sm-1 col-xs-1">
                                            <div class="dropdown" style="display: @(proyecto.activar_editar ? "none" : "block")">
                                                
                                                    <button class="border-0 bg-light dropdown-toggle texto-puntos-suspensivos" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@proyecto.nombre_proyecto">@proyecto.nombre_proyecto</span>  
                                                    </button>
                                                
                                                
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item mouse-pointer" @onclick="() => CambioActivarEditar(true, proyecto.Id)">Editar</a></li>
                                                    <li><a class="dropdown-item mouse-pointer" @onclick="() => ActivarVerInformes(true, proyecto.numero)">Ver Informes</a></li>
                                                </ul>
                                            </div>
                                            @if (proyecto.activar_editar)
                                            {
                                                <input class="w-100 text-center border-input-gray rounded-pill me-2" type="text" @bind-value="@proyecto.nombre_proyecto" @oninput="(e) => CambioNombreProyecto(e, proyecto.Id)" @onblur="() => CambioActivarEditar(false, proyecto.Id)">
                                               
                                            }
                                            <ValidationMessage For="@(() => proyecto.nombre_proyecto)" />
                                        </div>
                                        <div class="mb-0 col-md-2 col-sm-2 col-xs-2">
                                            <select class="w-100 text-center border-input-gray rounded-pill" @bind="proyecto.codigo_cliente" @oninput="(e) => CambioCodigoCliente(e, proyecto.Id)">
                                                @if (listaDeClientes.Any())
                                                {
                                                    foreach (var cliente in listaDeClientes)
                                                    {
                                                        <option value="@cliente.CLIENTE">@cliente.NOMBRE</option>
                                                    }
                                                }
                                            </select>
                                            <ValidationMessage For="@(() => proyecto.codigo_cliente)" />


                                        </div>
                                        <div class="mb-0 col-md-1 col-sm-1 col-xs-1">

                                            <input class="w-100 text-center border-input-gray rounded-pill" type="text" @bind-value="@proyecto.nombre_responsable" readonly>
  
                                        </div>
                                        <div class="mb-0 col-md-1 col-sm-1 col-xs-1">
                                            <select class="w-100 text-center border-input-gray rounded-pill" @bind="proyecto.codigo_consultor" @oninput="(e) => CambioConsultor(e, proyecto.Id)">
                                                @if (listaUsuariosConsultores.Any())
                                                {
                                                    foreach (var usuario in listaUsuariosConsultores)
                                                    {
                                                        <option value="@usuario.codigo">@usuario.nombre</option>
                                                    }
                                                }
                                            </select>
                                            <ValidationMessage For="@(() => proyecto.codigo_consultor)" />


                                        </div>
                                        <div class="mb-0 col-md-1 col-sm-1 col-xs-1">

                                            <input class="w-100 text-center border-input-gray rounded-pill" type="date" @bind-value="@proyecto.FechaInicialDateTime" @oninput="(e) => CambioFechaInicial(e, proyecto.Id)">
                                            <ValidationMessage For="@(() => proyecto.FechaInicialDateTime)" />
                                        </div>
                                        <div class="mb-0  col-md-1 col-sm-1 col-xs-1">

                                            <input class="w-100 text-center border-input-gray rounded-pill" type="date" @bind-value="@proyecto.FechaFinalDateTime" @oninput="(e) => CambioFechaFinal(e, proyecto.Id)">
                                            <ValidationMessage For="@(() => proyecto.FechaFinalDateTime)" />
                                        </div>
                                        <div class="mb-0  col-md-1 col-sm-1 col-xs-1">

                                            <input class="w-100 text-center border-input-gray rounded-pill" type="text" @bind-value="@proyecto.horas_totales" @oninput="(e) => CambioHorasTotales(e, proyecto.Id)">
                                            <ValidationMessage For="@(() => proyecto.horas_totales)" />
                                        </div>
                                        <div class="mb-0  col-md-1 col-sm-1 col-xs-1">
                                            <select class="w-100 text-center border-input-gray rounded-pill me-2 texto-puntos-suspensivos" @bind="proyecto.centro_costo" @oninput="(e) => CambioCentroCosto(e, proyecto.Id)" >
                                                @if (listaCentrosDeCosto.Any())
                                                {
                                                    foreach (var centro in listaCentrosDeCosto)
                                                    {
                                                        <option value="@centro.valor">@centro.descripcion</option>
                                                    }
                                                }
                                            </select>
                                            <ValidationMessage For="@(() => proyecto.centro_costo)" />
                                        </div>
                                        <div class="mb-0 col-md-1 col-sm-1 col-xs-1">
                                          
                                                <div class="dropdown">
                                                    <button class="green-bg rounded-pill px-2 text-light dropdown-toggle w-100 texto-puntos-suspensivos" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@proyecto.estado">@proyecto.estado</span>
                                                    </button>
                                                    <ul class="dropdown-menu w-100">
                                                        <li><a class="dropdown-item mouse-pointer" @onclick='() => SwalCambiarEstadoProyecto("¿Está seguro de Terminar el proyecto #" + proyecto.numero + "?", proyecto.numero, "Terminado")'>Terminar</a></li>
                                                        <li><a class="dropdown-item mouse-pointer" @onclick='() => SwalCambiarEstadoProyecto("¿Está seguro de Cancelar el proyecto #" + proyecto.numero + "?", proyecto.numero, "Cancelado")'>Cancelar</a></li>
                                                    </ul>
                                                </div>
                                            
                                            
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-1 mouse-pointer" @onclick='() => SwalEliminarProyecto("¿Está seguro de eliminar el proyecto #" + proyecto.numero + "?", proyecto.numero)'>
                                            <i class="mx-2 fa-solid fa-x text-danger"></i>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="footer-project text-13-medium">
                    <a class="rounded-pill border border-success green-dark-bg text-light button-footer mx-5" id="proyectos-terminados" href="Proyectos/Terminados" title="Ir a Proyectos Terminados">
                        Proyectos
                        Terminados
                    </a>
                    <a class="rounded-pill border border-success green-dark-bg text-light button-footer mx-5" id="agregar-proyectos" href="Proyecto/Agregar" title="Ir a Agregar Proyecto">
                        Agregar
                        Proyecto
                    </a>
                    <button type="submit" class="rounded-pill border border-input-gray bg-light button-footer green-text mx-5" id="guardar-proyectos" title="Guardar Cambios">
                        Guardar
                        cambios
                    </button>
                    <button type="button" @onclick="DescartarCambios" class="rounded-pill border border-primary blue-dark-bg text-light button-footer mx-5" id="descartar-proyectos" title="Cancelar Cambios">
                        Cancelar
                    </button>

                </div>
            </EditForm>
        </div>
        @if (activarModalVerInformes)
        {
            <VerInformesDeProyecto ActivarModal="@activarModalVerInformes" OnClose="@ClickHandlerVerInformes" Numero_Proyecto="@numeroActual"></VerInformesDeProyecto>
        }
    }
    else


    {
        <RutaErronea mensaje="No tienes los permisos suficientes para entrar a esta página"></RutaErronea>
    }
    <ScriptMaxHeight Contenido=".max-height-projects" Elemento1=".el-layout" Elemento2=".footer-project" Elemento3=".card-header"></ScriptMaxHeight>
}
else
{
    <Loading></Loading>
}