@using BSP.POS.Presentacion.Models.Clientes;
@using BSP.POS.Presentacion.Models.Informes;
@inject IInformesInterface InformesService
@inject IClientesInterface ClientesService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="col-md-7 col-right">
    <div class="cliente-asociado">
        <ClienteAsociado clienteAsociado="clienteAsociado"></ClienteAsociado>
    </div>
   
    <div class="background-reports pb-2 col-right">
        <div class="overflow-y-auto overflow-x-hidden scrollbar-report scrollbar-max-height col-right">
            <div class="row d-flex justify-content-between m-2 reports-list">
                <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center mouse-pointer add-report" @onclick="CrearInforme">
                    
                    <img src="images/Home/Agregar.png" class="image-add"/>
                </div>
                @if (informesAsociados.Any())
                {
                    var listaDeInformes = informesAsociados.OrderByDescending(i => i.consecutivo).ToList();
                    if(!string.IsNullOrEmpty(textoRecibido) && filtroRecibido == "informes")
                    {
                        listaDeInformes = listaDeInformes.Where(informe =>
                        informe.consecutivo.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                        informe.fecha_actualizacion.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                        informe.estado.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0
                        
                        ).ToList();
                    }
                    foreach (var informe in listaDeInformes)
                    {
                        <div class="item-report-width col-md-4 d-flex row mb-4" @onclick="() => EnviarConsecutivo(informe.consecutivo, informe.estado)">
                            <div class="item-report click-report-up">
                                <span class="t-blue-dark">Informe de Servicios</span>
                                <span class="t-blue-dark">#@informe.consecutivo</span>
                                <hr>
                                <span class="update-report-text text-secondary">Actualizado el @informe.fecha_actualizacion</span>

                                
                            </div>

                            @if (@informe.estado == "Finalizado")
                            {
                                <div class="bg-status-green borrador text-end text-light click-report-down">
                                    <span>@informe.estado</span>
                                </div>
                            }
                            else
                            {
                                <div class="bg-status-yellow borrador text-end text-light click-report-down">
                                    <span>@informe.estado</span>
                                </div>
                            }

                        </div>
                    }
                }
                else
                {

                }

            </div>

         
        </div>
    </div>
    <div class="consecutivo-informe">
        <ConsecutivoInforme consecutivo="@Consecutivo" estado="@Estado" RefrescarListaInformes="RefrescaListaInformes"></ConsecutivoInforme>
    </div>
     
    @if (EsClienteNull)
    {
        <ModalAdvertencia mensaje="Debe seleccionar un cliente"></ModalAdvertencia>
    }
</div>
@if (elementos.Any())
{
    <ScriptMaxHeightExtra Contenido=".scrollbar-max-height" Elementos="@elementos"></ScriptMaxHeightExtra>
}
