@page "/index"
@inject IClientesInterface ClientesService
@inject IInformesInterface InformesService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
<Layout Texto="RecibirTexto" ModalClientesEstado="ModalClientesCerrado"></Layout>
<head>
    <link href="css/Informe.css" rel="stylesheet" type="text/css" />
</head>
<div class="container-fluid p-2 ps-5 pe-5">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex">
                <a  class='text-light eyelash eyelash-recent p-2 pe-3 ps-3 @GetTabLinkClass("recent")' @onclick='() => ChangeTab("recent")'>Clientes recientes</a>
                <a  class=' text-light eyelash eyelash-all p-2 pe-3 ps-3 @GetTabLinkClass("all")' @onclick='() => ChangeTab("all")'>Todos los clientes</a>
            </div>
        </div>
    </div>
    <div class="row p-2 ps-5">
        <div class="col-md-5 col-left">
            <div class="my-3">
                <div id='recent' class='overflow-y-auto overflow-x-hidden row scrollbar-client scrollbar-max-height-client' style='display: @(activeTab == "recent" ? "block" : "none")'>
                    @if (ClientesService.ListaClientesRecientes != null)
                    {
                        var listaClientesRecientes = ClientesService.ListaClientesRecientes;
                        if (!string.IsNullOrEmpty(textoRecibido))
                        {
                            // Filtrar la lista de clientes por el nombre que contenga el texto de búsqueda
                            listaClientesRecientes = listaClientesRecientes.Where(cliente =>
                                cliente.NOMBRE.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                cliente.CONTACTO.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                cliente.CreateDate.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                cliente.CARGO.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0
                                ).ToList();
                        }

                            // Ejemplo: mostrar la lista de clientes en la vista
                        foreach (var cliente in listaClientesRecientes)
                            {
                                    <div class="row g-1 client-item click-client" @onclick="() => EnviarInformesAsociados(cliente.CLIENTE)">

                                        <div class="col-md-2 ">
                                            @if (cliente.IMAGEN != null && !cliente.IMAGEN.SequenceEqual(new byte[] { 0x00 }))
                                            {
                                                <img class="img-client" src="data:image/png;base64,@Convert.ToBase64String(cliente.IMAGEN)" width="50" alt="Imagen" />
                                            }else{
                                                <img class="img-client" width="50" alt="Sin Imagen" />
                                            }
                                        </div>
                                    <div class="col-md-5 pe-2">
                                        <p>Nombre del cliente: @cliente.NOMBRE</p>
                                        <p>Responsable: @cliente.CONTACTO</p>
                                        <p>Departamento: @cliente.CARGO</p>
                                    </div>
                                    <div class="col-md-5">
                                        <p><img src="images/Home/Refrescar.png" class="pb-1"/> Ultima Actualizacion: @cliente.RecordDate</p>
                                    </div>
                                    
                                </div>
                            }

                    }
                    else
                    {
                        
                        <p>No hay clientes recientes</p>
                    }
                </div>
                <div id='all' class='overflow-y-auto overflow-x-hidden scrollbar-client scrollbar-max-height-client' style='display: @(activeTab == "all" ? "block" : "none")'>
                    @if (ClientesService.ListaClientes != null)
                    {
                        var listaClientes = ClientesService.ListaClientes;
                        if (!string.IsNullOrEmpty(textoRecibido))
                        {
                            // Filtrar la lista de clientes por el nombre que contenga el texto de búsqueda
                             listaClientes = listaClientes.Where(cliente =>
                                cliente.NOMBRE.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                cliente.CONTACTO.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                cliente.RecordDate.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                cliente.CARGO.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0
                                ).ToList();
                        }

                        // Ejemplo: mostrar la lista de clientes en la vista
                        foreach (var cliente in listaClientes)
                        {
                            <div class="row g-1 client-item click-client" data-cliente="@cliente.CLIENTE" @onclick="() => EnviarInformesAsociados(cliente.CLIENTE)">

                                <div class="col-md-2 ">
                                            @if (cliente.IMAGEN != null && !cliente.IMAGEN.SequenceEqual(new byte[] { 0x00 }))
                                        {
                                            <img class="img-client" src="data:image/png;base64,@Convert.ToBase64String(cliente.IMAGEN)" width="50" alt="Imagen" />
                                        }
                                        else
                                        {
                                            <img alt="Sin Imagen" />
                                        }
                                </div>
                                <div class="col-md-5 pe-2">
                                    <p>Nombre del cliente: @cliente.NOMBRE</p>
                                    <p>Responsable: @cliente.CONTACTO</p>
                                    <p>Departamento: @cliente.CARGO</p>
                                </div>
                                <div class="col-md-5">
                                    <p><img src="images/Home/Refrescar.png" class="pb-1"/> Ultima Actualizacion: @cliente.RecordDate</p>
                                </div>
                                
                            </div>
                        }
                    }
                    else
                    {
                        <p>No se encontraron clientes.</p>
                    }
                </div>
            </div>
        </div>

        <ListaInformes informesAsociados="@InformesAsociados" clienteAsociado="@ClienteAsociado"/>
    </div>
    
</div>
    </Authorized>
</AuthorizeView>

