@inject IClientesInterface ClientesService
@inject IAlertasInterface AlertasService
@inject IJSRuntime JS
@inject NavigationManager navigationManager
<div class="d-flex justify-content-between align-items-center shadow-lg col-right">
    <div class="d-flex justify-content-center align-items-center ms-5">
        @if (proyectoEscogido.imagen != null && !proyectoEscogido.imagen.SequenceEqual(new byte[] { 0x00 }))
        {
            <img src="data:image/png;base64,@Convert.ToBase64String(proyectoEscogido.imagen)" width="50" height="50" alt="Imagen" />
        }
        else
        {
            <img alt="" />
        }

        @if (proyectoEscogido.nombre_proyecto.Length > 0)
        {

            <span class="font-15">@proyectoEscogido.nombre_proyecto</span>
        }

    </div>
    <div class="p-2 info-client text-center text-light">
        @if (proyectoEscogido.nombre_proyecto.Length > 0)
        {

            <p class="m-2">Número: @proyectoEscogido.numero</p>
            <p class="">Consultor: @proyectoEscogido.nombre_consultor</p>
            <p class="">Estado: @proyectoEscogido.estado</p>
        }
        else
        {
            if (!string.IsNullOrEmpty(ClienteActual.CLIENTE) && datosDeProyectos.Any())
            {

                <button type="button" class="border-success rounded-3 btn-escoger-proyecto text-light px-2 my-1" @onclick="() => ClickHandlerEscogerProyecto(true)">Escoger Proyecto</button>
            }
            else
            {
                if (!datosDeProyectos.Any() && !string.IsNullOrEmpty(ClienteActual.CLIENTE))
                {
                    <p class="">No hay proyectos asociados al cliente.</p>
                    
                    <button type="button" class="border-success rounded-3 btn-escoger-proyecto text-light px-2 my-1" @onclick="() => IrAAgregarProyecto()">Agregar Proyecto</button>
                }
            }
        }

    </div>
</div>
@if (activarModalEscogerProyecto)
{
    <EscogerProyecto ActivarModal="activarModalEscogerProyecto" datosProyectos="@datosDeProyectos" EnviarProyecto="RecibirProyectoEscogido" OnClose="ClickHandlerEscogerProyecto"></EscogerProyecto>
}
