@page "/RecuperarClave/{token}/{esquema}"
@inject IUsuariosInterface UsuariosService
@inject ILoginInterface LoginService
@inject ILicenciasInterface LicenciasService
@inject NavigationManager navigationManager
@inject SweetAlertService Swal;
@if(cargaInicial){
 @if(string.IsNullOrEmpty(mensajeEsquema)){
        
        @if (tokenRecuperacion.token_recuperacion != null)
        {
            if (!licenciaActiva)
            {
                <ModalError mensaje="Licencia no activa, debe renovarla"></ModalError>
            }
            if (licenciaProximaAVencer)
            {
                <ModalAdvertencia mensaje="Licencia Próxima a vencer"></ModalAdvertencia>
            }
            if (!mismaMacAdress)
            {
                <ModalError mensaje="La MacAddress no es la misma registrada"></ModalError>
            }
            <div class="h-100 w-100 fondo">
                <EditForm Model="usuario" OnValidSubmit="ActualizarClaveUsuario">
                    <DataAnnotationsValidator />
                    <h1 class="w-100 text-center text-light">Gestor de Servicios BSP</h1>
                    <div class="row w-100 h-75 text-light d-flex justify-content-center align-items-center">
                        <div class="col-md-7">
                            <h3>Ingrese la nueva Contraseña: </h3>
                            <div class="form-group d-flex align-items-center">
                                
                                <div class="d-flex align-items-center form-control text-success">
                                    <i class="fa-solid fa-lock text-success p-2"></i>
                                    <input placeholder="Contraseña..." type="@(mostrarClave ? "text" : "password")" class="form-control border-0 w-100 h-100 text-success" @oninput="ValorClave" @bind-value="claveActual" />
                                    @if (mostrarClave)
                                    {
                                        <i class="fa-solid fa-eye-slash p-2 green-text mouse-pointer" @onclick="() => CambiarEstadoMostrarClave(false)"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-eye p-2 green-text mouse-pointer" @onclick="() => CambiarEstadoMostrarClave(true)"></i>
                                    }
                                </div>
                                
                                
                            </div>
                            <ValidationMessage For="@(() => usuario.clave)" />
                        </div>
                        <div class="col-md-7 mt-3">
                            <h3>Confirme la contraseña: </h3>
                            <div class="form-group d-flex align-items-center">
                                
                               
                                <div class="d-flex align-items-center form-control text-success">
                                    <i class="fa-solid fa-lock text-success p-2"></i>
                                    <input placeholder="Contraseña..." type="@(mostrarConfirmarClave ? "text" : "password")" class="form-control border-0 w-100 h-100 text-success" @oninput="ValorClaveConfirmacion" @bind-value="confirmarClaveActual" />
                                    @if (mostrarConfirmarClave)
                                    {
                                        <i class="fa-solid fa-eye-slash p-2 green-text mouse-pointer" @onclick="() => CambiarEstadoMostrarConfirmarClave(false)"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-eye p-2 green-text mouse-pointer" @onclick="() => CambiarEstadoMostrarConfirmarClave(true)"></i>
                                    }
                                </div>
                            </div>
                            <ValidationMessage For="@(() => usuario.confirmarClave)" />
                        </div>
                        <button type="submit" class="btn btn-success btn-block w-50 mt-3">Restablecer</button>
                    </div>
                </EditForm>
            </div>

        }
        else
        {
                    <ModalError mensaje="Token o url inválido"></ModalError>
        }

    
    

    }else{
            <ModalError mensaje="@mensajeEsquema"></ModalError>
    }
}
else
{
    <div class="loader">
        <p class="heading">Loading</p>
        <div class="loading">
            <div class="load"></div>
            <div class="load"></div>
            <div class="load"></div>
            <div class="load"></div>
        </div>
    </div>
}
